<%= stylesheet_link_tag "chat.css" %>
<%= javascript_include_tag "#{FAYE_SERVER}/faye.js" %>
<%= javascript_include_tag "chats.js" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=center><b>Chat1</b></td>
        </tr>
      </table>
    </div>
    <div id=x_single_col>

      <div id="chat_label" style="text-align: center;"></div>

      <ul id="chat">
        <%= render :partial => "chat", :collection => @chats %>
      </ul>

      <div id="chat_form">
        <%= form_for Chat.new, :url => chat1_path, :remote => true do |f| %>
          <%= f.text_field :text, :size => 65 %>
          <%= f.submit "Send" %>
        <% end %>
      </div>

    </div>
    <div id=x_footer> </div>
  </div>
</div>
