<!DOCTYPE html>
<!--<html manifest="/mobile3f.manifest">-->
<html>
<head>
  <title>BAMRU Mobile</title>
  <link href='<%= raw favicon_file %>' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
  <link rel="stylesheet" href="/assets/mobile3.css" type="text/css">
  <link rel="stylesheet" href="/images/icons.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <script src="/assets/mobile3/application.js"></script>
  <% if @is_ipad %>
    <script src="/assets/mobile3/iscroll.js"></script>
  <% end %>
  <script>
    window.myID          =  parseInt("<%= current_member.id %>");
    window.members       = new M3_Members(<%= raw @mem_json %>);
    window.messages      = new M3_Messages(<%= raw @msg_json %>);
    window.distributions = new M3_Distributions(<%= raw @dst_json %>);
    window.inbox         = new M3_Distributions(distributions.inbox(myID))
  </script>
</head>

<body>

<header>
  <div id=title>
    <div class=bookend><a class='back' href='#home'>Home</a></div>
    <div id="label">Text Here</div>
    <div class=bookend> </div>
  </div>
</header>

<div id='wrapper'>
  <div id='content'>

    <div id='home' class='page'>
      <div class="navbox">
        <a class='lnav' href="#members" >Members</a>
        <a class='rnav' href="#members/<%=@do_id%>">DO:<%= @do_name %></a>
      </div>
      <a class='nav' href="#status"     >Status Line</a>
      <a class='nav' href="#page_select">Send Page</a>
      <a class='nav' href="#messages"   >Unit Message Log</a>
      <a class='nav' id="myinbox" href="#inbox"><%= @inbox_label %></a>
      <a class='nav' href="#profile"  >My Profile</a>
      <div class=footer>
        <div id=state></div>
        <div id=update>updated <%= Time.now.strftime("%b-%d %H:%M:%S") %></div>
      </div>
    </div>

    <div id='members' class='page'>
      MEMBERS
    </div>

    <div id='member' class='page'>
      MEMBER
    </div>

    <div id='duty' class='page'>
      DUTY OFFICER
    </div>

    <div id='status' class='page'>
      <div class='center'>
        <b>BAMRU Status Line</b>
        <p></p>
        <% if @is_phone %>
          <a class='nav' href='tel:650-858-4618' style='text-align: center;'>Dial 650-858-4618</a>
        <% else %>
          650-858-4618
        <% end %>
      </div>
    </div>

    <form action='/mobile3/send_page' method='POST'>
      <div id='page_select' class='page'>

        <div class="page_nav">
          <li><a href="#page_select" class="page_nav_on">Select<span class=select_count></span></a></li>
          <li><a href="#page_send" class="page_nav_off">Compose</a></li>
        </div>

        <div>
          <% @members.each do |mem| -%>
            <input type="checkbox" name="targets[checkbox-<%= mem.id %>]" id="checkbox-<%= mem.id %>" class="custom rck <%=mem.full_roles %> <%= mem.current_status %>" />
            <label for="checkbox-<%= mem.id %>"><%= "#{mem.typ} - #{mem.full_name_do}" %></label>
          <% end %>
        </div>

      </div>

      <div id='page_send' class='page'>

        <div class="page_nav">
          <li><a href="#page_select" class="page_nav_off">Select<span class=select_count></span></a></li>
          <li><a href="#page_send" class="page_nav_on">Compose</a></li>
        </div>

        <div style='text-align: center;'>
          <b>Message Text <span id='chars_remaining'></span></b>
        </div>
        <div class='ui-select' style="padding-right: 40px;">
          <textarea rows=3 name="message[text]" id="textarea" style='width:100%; padding: 0px; border: 0px;'></textarea>
        </div>
        <div style='text-align: center; margin-top: 10px; margin-bottom: 0px; padding-bottom: 0px;'>
          <b>RSVP</b>
        </div>
        <%= raw rsvp_mobile_select %>
        <p></p>
        <input type=hidden name='message[ip_address]' value='<%= @client_ip %>' />
        <button id=pgr_submit class='ui-btn-hidden' type="submit">Send to 0 members</button>
      </div>

    </form>

    <div id='messages' class='page'>
      MESSAGES
    </div>

    <div id='message' class='page'>
      MESSAGE
    </div>

    <div id='inbox' class='page'>
      INBOX
    </div>

    <div id='profile' class='page'>
      <table class="mobile_table">
        <tr><td>Username</td>    <td><%= current_member.short_name %></td> </tr>
        <tr><td>Device</td>      <td><%= @device %></td>                   </tr>
        <tr><td>Screen Size</td> <td id="xsize">TBD</td>                   </tr>
      </table>
      <a class="nav" href="#" id="logout">Log Out</a>
    </div>

    <div id='default' class='page'>
      PAGE NOT FOUND
    </div>
  </div>
</div>

</body>

</html>