<%= javascript_include_tag "messages/all_messages_indx" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=250 align=left>
            <b>Unit Message Log</b>
          </td>
          <td align=center>
            <%= link_to("Unit Roster", members_path) %>
          </td>
          <td width=250 align=right>
            <a href="/members/<%=current_member.id%>/inbox">My Inbox</a>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>

      <table id=myTable class="tablesorter">
        <thead>
        <tr>
          <th>ID</th>
          <th width=320>Message Text</th>
          <th>From</th>
          <th>Sent At</th>
          <th align=center>RSVP</th>
          <th width=70 align=center>Sent | Read</th>
        </tr>
        </thead>
        <tbody>
        <% @messages.each do |m| %>
          <tr>
            <td><%= m.id %></td>
            <td><%= link_to(m.text_with_rsvp, message_path(m)) %></td>
            <td><%= link_to(m.author.short_name, member_path(m.author)) %><br/></td>
            <td><%= m.created_at.strftime("%m-%d %H:%M") %></td>
            <td align=center><%= m.rsvp_stats %></td>
            <td align=center>
              <%= raw sent_display(m.distributions.count, m) %> |
              <%= raw read_display(m.distributions.count, m.distributions.read.count) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
    <div id=x_footer >
      <table width=100% style='font-size: 8pt;'>
        <tr>
          <td align=center>
            Last Mail Sync: <%=@sync_time %>
          </td>
          <td align=center>
            <a href='#' id=resync_link>Resync Now</a> to update <b>RSVP</b> & <b>Read</b> stats.
          </td>
        </tr>
      </table>
      
    </div>

  </div>
</div>