<%= javascript_include_tag "messages/all_messages_show" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=50% align=left>
            <b>Message #<%= @message.id %> Detail</b>
          </td>
          <td width=50% align=right>
            <%= link_to("Unit Message Log", messages_path) %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>
      <table>
        <tr>
          <td align=right width=150><b>Message ID:</b></td>
          <td><%= @message.id %></td>
        </tr>
        <tr>
          <td align=right width=150><b>Message Date:</b></td>
          <td><%= @message.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
        </tr>
        <tr>
          <td align=right><b>Message Author:</b></td>
          <td>
            <%= link_to(@message.author.full_name, member_path(@message.author)) %>
            (IP Address: <%= @message.ip_address %>)
          </td>
        </tr>
        <tr>
          <td align=right><b>Message Text:</b></td>
          <td><%= @message.text_with_rsvp %></td>
        </tr>
        <tr>
          <td align=right><b>Transmission:</b></td>
          <td>
            Sent <%= @message.recipients.length %>,
            Read <%= @message.distributions.read.length %>,
            Bounced <%= @message.distributions.bounced.length %>
          </td>
        </tr>
        <tr>
          <td align=right><b>Response Time:</b></td>
          <td><%= raw response_time_display(@message) %></td>
        </tr>
        <tr>
          <td align=right><b>RSVP:</b></td>
          <td><%= rsvp_display(@message) %></td>
        </tr>
      </table>

      <% if @message.distributions.count > 4 %>
        <div style='background-color: lightgray; padding: 3px 25px 3px 108px;'>
          <div style='float:right; text-align: right; margin-top: 4px'><a href="http://wiki.bamru.net/index.php/Paging_Protips" target="_blank">help</a></div>
          <div style='text-align: left;'>
            Search: <input name="filter" id="filter-box" value="" maxlength="22" size="22" type="text">
            <input id="filter-clear-button" type="button" value="Clear"/>
          </div>
        </div>
      <% end %>

      <table id=myTable class="tablesorter">
        <thead>
        <th>Recipient</th>
        <th>Bounced?</th>
        <th>Read?</th>
        <th>RSVP</th>
        <th align=center>Detail</th>
        </thead>
        <% @message.distributions.each do |d| %>
          <tr>
            <td><%= link_to(d.member.full_name, member_path(d.member)) %><%= raw message_oot_helper(d) %><%= raw message_bounce_helper(d) %></td>
            <td align=center><%= raw yes_no_bounce d %></td>
            <td align=center><%= raw yes_no_read d.read %></td>
            <td align=center><%= raw d.rsvp_display_link %></td>
            <td align=center>
              <%= link_to("history", history_path(d))%> |
              <%= link_to("inbox", member_inbox_index_path(d.member)) %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
    <div id=x_footer style='font-size: 8pt;'>
      <% if @message.has_open_bounce? %>
        <div style='text-align: center;'>
          For <span style="background-color: pink;">bounced messages</span>, check the <b>history</b> to find out what is failing.
        </div>
      <% end %>
      <table width=100% style='font-size: 8pt;'>
        <tr>
          <td align=center>
            <a href="#" id=clearsort>Clear Sort Settings</a>
          </td>
          <td align=center>
            Last Mail Sync: <%=@sync_time %>
          </td>
          <td align=center>
            <a href='#' id=resync_link>Resync Now</a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>