<%= javascript_include_tag "messages/all_messages_show" %>
<%= javascript_tag "var PREVIEW_OPTS = #{generate_preview_options};"    %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=50% align=left>
            <b>Message #<%= @message.id %> Detail</b>
          </td>
          <td width=50% align=right>
            <%= link_to("Unit Message Log", messages_path) %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>
      <table width=100%>
        <tr>
          <td align=right width=150><b>Message ID:</b></td>
          <td><%= @message.id %><%= raw parent_repage_link(@message) %></td>
        </tr>
        <tr>
          <td align=right width=150><b>Message Date:</b></td>
          <td><%= @message.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
        </tr>
        <%= raw child_repage_link(@message) %>
        <tr>
          <td align=right><b>Message Author:</b></td>
          <td>
            <%= link_to(@message.author.full_name, member_path(@message.author)) %>
            (IP Address: <%= @message.ip_address %>)
          </td>
        </tr>
        <tr>
          <td align=right><b>Message Text:</b></td>
          <td><%= @message.text_with_rsvp %></td>
        </tr>
        <% unless @message.period_id.nil? %>
            <tr>
              <td align=right><b>Related Event:</b></td>
              <td><%= raw related_event_link(@message) %></td>
            </tr>
        <% end %>
        <tr>
          <td align=right><b>Transmission:</b></td>
          <td>
            Sent <%= @message.recipients.length %>,
            Read <%= @message.distributions.read.length %>,
            Bounced <%= @message.distributions.bounced.length %>
          </td>
        </tr>
        <tr>
          <td align=right><b>Response Time:</b></td>
          <td><%= raw response_time_display(@message) %></td>
        </tr>
        <tr>
          <td align=right><b>RSVP:</b></td>
          <td><%= raw rsvp_repage_link(@message) %><%= rsvp_display(@message) %></td>
        </tr>
      </table>

      <% if @message.distributions.count > 4 %>
        <div style='background-color: lightgray; padding: 3px 25px 3px 108px;'>
          <div style='float:right; text-align: right;'>
            <a href="http://wiki.bamru.net/index.php/Paging_Protips" target="_blank">help</a>
          </div>
          <div style='text-align: left;'>
            Search:
            <input name="filter" id="filter-box" value="" maxlength="22" size="22" type="text">
            <input id="filter-clear-button" type="button" value="Clear"/>
          </div>
        </div>
      <% end %>

      <table id=myTable class="tablesorter">
        <thead>
        <th>Recipient</th>
        <th>Updated</th>
        <th>Read?</th>
        <th>RSVP</th>
        <th align=center>Detail</th>
        </thead>
        <% @dists.each do |d| %>
          <tr>
            <td><%= link_to(d.member.try(:full_name) || "", member_path(d.member || 0)) %><%= raw message_oot_helper(d) %><%= raw message_bounce_helper(d) %></td>
            <td align=center><%= d.updated_at.strftime("%m-%d %H:%M") %></td>
            <td align=center><%= raw yes_no_read d.read %></td>
            <td align=center><%= raw rsvp_display_link(d) if d.member %></td>
            <td align=center>
              <%= link_to("history", history_path(d)) %> |
              <%= link_to("inbox", member_inbox_index_path(d.member || 0)) %>
            </td>
          </tr>
        <% end %>
      </table>

    </div>
    <div id=x_footer style='font-size: 8pt;'>
      <% if @message.has_open_bounce? %>
        <div style='text-align: center;'>
          For <span style="background-color: yellow;">bounced messages</span>,
          check the <b>history</b> to find out what is failing.
        </div>
      <% end %>
      <table width=100% style='font-size: 8pt;'>
        <tr>
          <td align=center>
            <a href="#" id=clearsort>Clear Sort Settings</a>
          </td>
          <td align=center>
            Last Mail Sync: <%= @sync_time %>
          </td>
          <td align=center>
            <a href='#' id=resync_link>Resync Now</a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>

<div id="blanket" style="display: none;"></div>

<% if @message.rsvp %>

  <%= render :partial => 'rsvp_popup' %>

  <%= render :partial => 'repage_popup' %>

<% end %>