<%= javascript_include_tag "do_planner.js"   %>
<%= stylesheet_link_tag "tipsy.css" %>

<style>
  #dodata th {
    width: 30px;
  }
  .status:hover {
    border-color: blue;
    border-style: double;
    cursor: pointer;
  }

  .green { background: #b8edab; }
  .blue {background: #caf0f0; }
  .pink {background: #ffdfe4; }

</style>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=33% align=left><b>Duty Officer Planner</b></td>
          <td width=33% align=center><%= link_to("Edit Q#{@quarter[:quarter]} Unit DO Schedule", edit_do_assignment_path(1, @quarter)) %></td>
          <td width=33% align=right>
            <%= avail_dos_link_next_quarter("Edit My Q#{next_quarter_number} DO Availability") %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col class=centered>
      <table width=100%>
        <tr>
          <td width=40% align=right>Planning <%= @quarter[:year] %> /
            Q<%= @quarter[:quarter] %></td>
          <td width=20%</td>
          <td width=40% align=left><%= plan_link_prev(@quarter) %> <%= plan_link_current_quarter %> <%= plan_link_next(@quarter) %></td>
        </tr>
      </table>

      <table id='dodata' align=center border=1 style='font-size: 10px;'>
        <tr style='background: #ededed;'>
          <th></th>
          <% 13.times do |idx| %>
            <th id='week<%= idx+1 %>' <%= raw display_date_range(@quarter, idx+1) %>>W<%= idx+1 %></th>
          <% end %>
        </tr>
        <% @members.each do |mem| %>
          <%= raw display_member_row(mem, @quarter) %>
        <% end %>
      </table>
      <div style='height: 10px;'></div>
    </div>
    <div id=x_footer>
      Instructions: Click a cell to create a DO assignment, click again to
      un-assign.<br/>
      Legend: <b>A</b> = Available, <b>-</b> = Unavailable, '*'
      means there is a comment<br/>
      <span class='blue'>Unscheduled Member</span>
      <span class='pink'>Unscheduled Week</span>
      <span class='green'>DO Assignment</span>
    </div>
  </div>
</div>

