<%= javascript_include_tag "jquery.tablesorter2.js"        %>
<%= javascript_include_tag "jquery.tablesorter_filter.js"  %>
<%= javascript_include_tag "cookie.js"                     %>
<%= javascript_include_tag "members.js"                    %>
<%= javascript_include_tag "unit_avail_ops_table.js"       %>
<%= javascript_include_tag "members_filter.js"             %>

<div id=x_container>
  <div id=x_wide_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>Unit Availability</b></td>
          <td align=center>
            Search: <input name="filter" id="filter-box" value="" maxlength="15" size="15" type="text">
            <input id="filter-clear-button" type="submit" value="Clear"/>
          </td>
          <td align=right>
            <%= link_to("Edit My Availability", member_avail_ops_path(current_member)) %>
          </td>
        </tr>
      </table>
    </div>
    <div id=x_single_col>

      <% cache("unit_avail_ops_table-#{@fragment_type}") do %>

      <table id="myTable" class="tablesorter">
        <thead>
        <tr>
          <th width=40>Role</th>
          <th>Name</th>
          <th width=65>Available<br/>today?</th>
          <th width=65><%= day_label(1) %>?</th>
          <th width=65><%= day_label(2) %>?</th>
          <th width=65><%= day_label(3) %>?</th>
          <th width=65><%= day_label(4) %>?</th>
          <th width=50>Return</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <% @members.each do |mem| %>
          <tr>
            <td><%=mem.typ%></td>
            <td><%=link_to mem.full_name, member_avail_ops_path(mem) %></td>
            <%= raw day_helper(mem, 0) %>
            <%= raw day_helper(mem, 1) %>
            <%= raw day_helper(mem, 2) %>
            <%= raw day_helper(mem, 3) %>
            <%= raw day_helper(mem, 4) %>
            <td><%= raw return_date_helper(mem, 4) %></td>
            <td><%=mem.current_status_comment%></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <% end %>

    </div>
    <div id=x_footer  style="font-size: 10pt;">
      <table width=100% style="font-size: 10pt;">
        <tr>
          <td width=50%>
            <a href="#" id=clearsort>Clear Sort Settings</a>
          </td>
          <td width=50%>
            <input type="checkbox" id=rsa_check> Show R, S, A Members
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
