<%= javascript_include_tag "jquery.tablesorter2.js"        %>
<%= javascript_include_tag "jquery.tablesorter_filter.js"  %>
<%= javascript_include_tag "members.js"                    %>
<%= javascript_include_tag "unit_avail_ops_table.js"       %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>Team Availability</b></td>
          <td align=center>
            Search: <input name="filter" id="filter-box" value="" maxlength="15" size="15" type="text">
            <input id="filter-clear-button" type="submit" value="Clear"/>
          </td>
          <td align=right>
            <%= link_to("Edit My Availability", member_avail_ops_path(current_member)) %>
          </td>
        </tr>
      </table>
    </div>
    <div id=x_single_col>

      <table id="myTable" class="tablesorter">
        <thead>
        <tr>
          <th>Role</th>
          <th>Name</th>
          <th>Status</th>
          <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <% @members.each do |mem| %>
          <tr>
            <td><%=mem.typ%></td>
            <td><%=link_to mem.full_name, member_avail_ops_path(mem) %></td>
            <% if mem.current_status == "unavailable" %>
              <td align=center style='background-color: pink;'>unavailable</td>
              <% else %>
              <td></td>
              <% end %>
            <td><%=mem.current_status_comment%></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
    <div id=x_footer> </div>
  </div>
</div>
