<div class="center">
  <form action="/admin_show">
    Showing events
    from <%=event_range_select(@start,@finish,"start")%>
    to <%=event_range_select(@start,@finish,"finish")%>
    <input type="submit" value="Change"> 
  </form>
</div>

<h3 style="margin: 0 0 2px 0;">Meetings (<%=Action.meetings.between(@start,@finish).count%>)</h3>
<%= event_table(Action.meetings.between(@start,@finish)) %>

<h3 style="margin: 12px 0 2px 0;">Trainings (<%=Action.trainings.between(@start,@finish).count%>)</h3>
<%= event_table(Action.trainings.between(@start,@finish)) %>

<h3 style="margin: 12px 0 2px 0;">Events (<%=Action.events.between(@start,@finish).count%>)</h3>
<%= event_table(Action.events.between(@start,@finish)) %>

<h3 style="margin: 12px 0 2px 0;">Non-County Meetings (<%=Action.non_county.between(@start,@finish).count%>)</h3>
<%= event_table(Action.non_county.between(@start,@finish)) %>

