<h2>Overview</h2>

Use these pages to edit BAMRU calendar events.
Edit with care! Your changes go live onto the BAMRU website!<p/>

<table class="info_table">
  <tr>
    <td>
      Website Home Page: <a href='<%=current_server%>'><%=current_server%></a>
    </td>
    <td>
      Website Admin Page: <a href='<%=current_server%>/admin'><%=current_server%>/admin</a>
    </td>
  </tr>
  <tr>
    <td>
      Last Website Change: <b><%=last_modification%></b>
    </td>
    <td>
      Last Server Restart: <b><%=last_restart%></b>
    </td>
  </tr>
  <tr>
    <td>
      There are <b><%=number_of%></b> records in our event database
    </td>
    <td>
      (<%=number_of "meeting"%> meetings, <%=number_of "training"%> trainings, <%=number_of "event"%> events, <%=number_of "non-county"%> non-county)
    </td>
  </tr>
  <tr>
    <td>
      Last DB Update: <%=last_update%>
    </td>
    <td>
      Default Display Range: <b><%=Action.default_start.to_label%></b> - <b><%=Action.default_end.to_label%></b>
    </td>
  </tr>
  <tr>
    <td>
      Oldest Record: <%=oldest_record%>
    </td>
    <td>
      Newest Record: <%=newest_record%>
    </td>
  </tr>
</table>

<h2>Bugs and Change Requests</h2>

To report bugs or ideas for improving the website, use our 
issue tracker at <%= link_url "https://github.com/andyl/BAMRU-Public/issues" %>.<p/>

You can also contact the site maintainer, Andy Leak - andy@r210.com - 650-823-0836.

<h2>Syncing with Google Calendar</h2>

You can load all of BAMRU's calendar data into your Google Calendar.  Here's how:

<ol>
  <li>Open your Google Calendar
  <li>Find the 'Add v' button on the bottom right corner
  <li>Select the option 'Add by URL'
  <li>Enter <code><%=current_server%>/calendar.ical</code>
</ol>

After that, the calendar data will sync, and you can overlay BAMRU events onto your Google calendars.

<h2>Editing the Website</h2>

The website source code is publicly available.  Anyone is welcome to
download/study/reuse/enhance the code.<p/>
Get the code at <%= link_url "http://github.com/andyl/BAMRU-Public" %>.<p/>
There is a wiki for site developers at <%= link_url "http://github.com/andyl/BAMRU-Public/wiki" %>.

