<h2>Log In</h2>

<form method="POST" action="<%= mobile_sessions_path %>" data-ajax=false>
  <div class="field">
    <%= label_tag :user_name %><br>
    <%= text_field_tag :user_name, params['user_name'] %>
  </div>
  <p></p>
  <div class="field">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div>
  <p></p>
  <div class="field">
    <%= check_box_tag :remember_me %>
    <label for="remember_me">Remember me?</label>
  </div>
  <input type='hidden' name=ref value=<%=session[:ref]%>>
  <p></p>
  <div class="actions"><%= submit_tag "Log in" %></div>
</form>
