<%= javascript_include_tag "history/all_history" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=200 align=left>
            <b>Mail History</b>
          </td>
          <td align=center>
            <%= link_to("Message ##{@message.id} Detail", message_path(@message)) %>
          </td>
          <td width=200 align=right>
            <%= link_to("My Inbox", "/members/#{current_member.id}/inbox") %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>
      <table>
        <tr>
          <td align=right width=150><b>Message ID:</b></td>
          <td><%= @message.id %></td>
        </tr>
        <tr>
          <td align=right width=150><b>Message Date:</b></td>
          <td><%= @message.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
        </tr>
        <tr>
          <td align=right><b>Message Recipient:</b></td>
          <td><%= link_to(@recipient.full_name, member_path(@recipient)) %> (<%= link_to("inbox", "/members/#{@recipient.id}/inbox")%>)</td>
        </tr>
        <tr>
          <td align=right><b>Message Text:</b></td>
          <td><%= @message.text_with_rsvp %></td>
        </tr>
        <tr>
          <td align=right><b>RSVP Response:</b></td>
          <td><%= rsvp_history_display(@distribution) %> <%= raw rsvp_link_helper(@distribution) %> </td>
        </tr>
      </table>

      <% @mails.each do |mail| %>
        <hr>
        Mail <b><%= mail[:outbound].full_label %></b> sent to <b><%= raw history_address(mail[:outbound]) %></b><%= via(mail[:outbound])%> at <%=sent_time(mail[:outbound])%><br/>
        <% mail[:inbound].each do |inb| %>
          => <%= raw reply_txt(inb) %> from <b><%= inb.from %></b> <%= raw inb.rsvp_answer_text %> at <%= reply_time(inb)%> [<%= raw view(inb) %><%= raw hide(inb) %>]<br/>
          <div id=<%=inb.id%>_body class=mail_body><%= raw body(inb) %></div>
        <% end %>
      <% end %>
      <% @journals.each do |journal| %>
        <hr>
        Update by <b><%= journal.member.short_name %></b> at <%= created_time(journal) %> : <b><%= journal.action %></b><br/>
      <% end %>

    </div>
    <div id=x_footer style='font-size: 8pt; text-align: left;'>
      <% if @distribution.has_open_bounce?  %>
        <div style='margin-left: 150px;'>
          To fix a <span style="background-color: yellow;">bounced address</span>, you can:<br/>
          <div style="margin-left: 15px;">
           - <b>Ignore</b> the error message (do this for a vacation reply)<br/>
           - <b>Disable</b> the address (to stop sending pages to the address)<br/>
           - <b>Edit</b> the address (to change or delete the address)
           </div>
        </div>
      <% end %>
    </div>

  </div>
</div>