<style type='text/css'>
</style>
<p></p>
Someone has requested a 'reset password' link be sent to your email address.
<p></p>
If that someone is YOU, please click on the link below to reset your BAMRU.net password.
<p></p>
<%= @url %>?token=<%= @member.forgot_password_token %>
<p></p>
Thanks!
<p></p>
BAMRU.net
<p></p>
Note:<br/>
- this reset link expires at <%= @expire %><br/>
- each reset link can be used only once
<p></p>
<% unless @platform_url.blank? %>
<img src="<%= @platform_url %>icon/<%= @short_label %>.gif"/>
<% end %>
