<script>var autoselectMemberNames = [ <%= Member.autoselect_member_names('/avail_ops') %> ];</script>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"  %>
<%= javascript_tag "var MEMBER_ID = #{@member.id};" %>

<%= javascript_include_tag "certs/all_certs_edit" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=250 align=left>
            Create Cert: <b><%= link_to(@member.full_name, member_path(@member)) %></b>
          </td>
          <td align=center>
            <%= link_to("#{@member.first_name}'s Certs", member_certs_path(@member)) %>
          </td>
          <td width=250 align=right>
            Cert Type: <%= @cert.typ.upcase %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>

      <p></p>

      <%= render :partial => 'form' %>

    </div>
    <div id=x_footer style="font-size: 10px;">
      <%= raw "<center>Please upload a scanned certificate, OR add a comment.</center>" unless @cert.typ == "ham" %>
      <%= raw "<center>Please enter the FCC URL to your ham license.</center>" if @cert.typ == "ham" %>
    </div>

  </div>
</div>