<!DOCTYPE html>
<html>
  <head>
    <title>Meeting Sign In</title>
    <link href='<%= raw favicon_file %>' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
    <link rel="stylesheet" href="/assets/mobile.css" type="text/css">
    <link rel="stylesheet" href="/images/icons.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <% if @is_ipad %>
      <script src="/assets/mobile3/iscroll.js"></script>
    <% end %>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "meeting_signin/all_meeting_signin" %>
    <%= javascript_include_tag "#{FAYE_SERVER}/faye.js" %>

    <script>
      BB.device_name = "<%= @device_name %>"
      BB.myID = parseInt("<%= current_member.id %>");
      BB.members  = new BB.Collections.Members(<%= raw @members_json %>);
      BB.meetings = new BB.Collections.Events(<%= raw @meetings_json %>);
      BB.faye_server = "<%= FAYE_SERVER %>"
      BB.sessionId   = "<%= @session_id %>"
    </script>

  </head>

  <body>

  <div id='app-layout'>
  </div>

  </body>

</html>
