<%= javascript_tag "var autoselectMemberNames = [#{Member.autoselect_member_names('/inbox')}];" %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"  %>
<%= javascript_tag "var MEMBER_ID = #{@member.id};"    %>

<%= javascript_include_tag "inbox/all_inbox_indx" %>

<%= csrf_meta_tag %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=250 align=left>
            <b>Inbox:</b> <b><%= link_to(@member.full_name, member_path(@member)) %></b>
          </td>
          <td align=center>
            <%= link_to("Unit Message Log", messages_path) %>
          </td>
          <td width=250 align=right>
            <%= link_to('<', member_inbox_index_path(@member.prev_member_id)) %>
            <input size=14 id="autoselect" value="find member...">
            <%= link_to('>', member_inbox_index_path(@member.next_member_id)) %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>



      <table id="myTable" class="tablesorter">
        <thead>
        <th width=70>From</th>
        <th width=280>
          Message Text
          <% if (current_member == @member) && (current_member.distributions.unread.count != 0) %>
            <span style='margin-left: 60px;'>(<a href="#" id=mark_all>mark all as read</a>)</span>
          <% end %>
        </th>
        <th align=center>Bounced?</th>
        <th align=center>Read?</th>
        <th align=center>RSVP</th>
        <th align=center>Detail</th>
        </thead>

        <% @dists.each do |dist| %>
          <tr>
            <td>
              <%= link_to(dist.message.author.short_name, member_path(dist.message.author)) %>
              <br/>
              <%= dist.created_at.strftime("%m-%d %H:%M") %>
            </td>
            <td><%= dist.message.text_with_rsvp %> <%= raw mark_as_read(dist, @member)%></td>
            <td align=center>
              <%= raw yes_no_bounce dist %>
              </td>
            <td align=center>
              <%= raw yes_no_read dist.read %>
            </td>
            <td align=center><%= raw dist.rsvp_display_link %></td>
            <td align=center>
              <%= link_to("history", history_path(dist)) %> |
              <%= link_to("msg. ##{dist.message.id}", message_path(dist.message)) %>
            </td>
          </tr>
        <% end %>

      </table>

    </div>
    <div id=x_footer style='font-size: 8pt;'>
      <table width=100% style='font-size: 8pt;'>
        <tr>
          <td>
          If there are <span style='background-color: pink;'>bounced messages</span>, check the <b>history</b> to find out what is failing.
          </td>
        </tr>
      </table>

    </div>

  </div>
</div>