<%= javascript_include_tag "jquery.tablesorter.min.js" %>
<%= javascript_include_tag "jquery-ui.min.js"          %>
<%= javascript_include_tag "members_autoselect.js"     %>
<%= javascript_include_tag "docs_table.js"             %>
<%= csrf_meta_tag %>

<div id=x_container>
  <div id=x_wide_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left>
            <b>BAMRU Docs</b>
          </td>
          <td align=right>
            <%= link_to("Upload a new Doc", new_doc_path) %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>

      <% cache('docs_table') do %>

        <table id="MyTable" class="tablesorter">
          <thead>
          <tr>
            <th>Doc</th>
            <th width=45>Type</th>
            <th width=95>Uploaded By</th>
            <th>Uploaded On</th>
            <th width=55>Views</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>
          <% @docs.each do |d| %>
            <tr>
              <td><%= raw(link_to(d.doc_file_name, docs_path + '/' + d.doc_file_name, :target => "_blank")) %></td>
              <td><%= d.doc_file_extension.upcase %></td>
              <td><%= d.member.full_name %></td>
              <td><%= d.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= d.download_count %></td>
              <td><%= raw(link_to("Delete", doc_path(d), :confirm => "Are you sure?", :method => :delete))%> </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      <% end %>

    </div>
    <div id=x_footer> </div>

  </div>
</div>
