<%= javascript_include_tag "jquery-ui.min.js"       %>
<%= javascript_include_tag "members_autoselect.js"  %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=250 align=left>
            <b>Upload Doc</b>
          </td>
          <td align=right>
            <%= link_to("Back", docs_path) %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>

      <%= simple_form_for @doc do |f|   %>
        <%= f.input        :doc         %>
        <%= f.button       :submit      %>
      <% end %>

    </div>
    <div id=x_footer> </div>

  </div>
</div>