<%= javascript_include_tag 'jquery.tablesorter2' %>
<%# javascript_include_tag 'jquery.tablesorter_filter' %>

<script>
  $(document).ready(function() {
    $('#mytable').tablesorter();
  });
</script>

<div style='text-align: center;'>
Total Profiles:<%= @profiles.count %> |
Linux:<%= BrowserProfile.os_linux.count %>
Windows:<%= BrowserProfile.os_windows.count %>
Mac:<%= BrowserProfile.os_mac.count %>
Other:<%= BrowserProfile.os_other.count %> |
Explorer:<%= BrowserProfile.browser_explorer.count %>
Chrome:<%= BrowserProfile.browser_chrome.count %>
Firefox:<%= BrowserProfile.browser_firefox.count %>
Other:<%= BrowserProfile.browser_other.count %>
</div>

<table id="mytable" class="tablesorter">

  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Browser</th>
    <th>Version</th>
    <th>OS</th>
    <th>JS</th>
    <th>Cookies</th>
    <th>Height</th>
    <th>Width</th>
    <th>Date</th>
  </tr>
  </thead>

  <tbody>
  <% @profiles.each do |prof| %>
      <tr>
        <td><%= prof.member_id %></td>
        <td><%= prof.member.short_name %></td>
        <td><%= prof.browser_type %></td>
        <td><%= prof.browser_version %></td>
        <td><%= prof.ostype %></td>
        <td><%= prof.javascript %></td>
        <td><%= prof.cookies %></td>
        <td><%= prof.screen_height_min %></td>
        <td><%= prof.screen_width_max %></td>
        <td><%= prof.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
  <% end %>
  </tbody>

</table>