<div align="center">
  <table  border="0" cellpadding="0" cellspacing="0" width="648">
    <tr>
      <td bgcolor="#999999"> <!-- dark grey bgcolor serves as border color for nested table (where cellspacing of 1 allows it to show through). -->
        <table border="0" cellpadding="8" cellspacing="1" width="100%" >
          <tr>
            <td valign="top" class="body" bgcolor="#eeeeee"><I><b><font color="#333333" size="2">Pagers and Roster</font></b></I></td>
          </tr>
          <tr>
            <td valign="top" bgcolor="white"><font size="2" class="body">
              <table border="0" cellpadding="0" cellspacing="0" align="left" width="100%">
                <tr>
                  <td class="body" align="left">
                    <A href="/members"><b>Pager notification and telephone roster</b></A><span class=bullet>&nbsp;&nbsp;&bull;&nbsp;</span>
                    <A href="/members/<%=current_member.id%>/edit" class='small'><i>Edit my contact info</i></A><br>            </td>
                  <td class="body" align="right"><A href="/smso_pagers.html">SMSO pagers</A>
                  </td>
                </tr>
                <tr>
                  <td height=11>
                  </td>
                </tr>
                <tr>
                  <td rowspan="2" class="body" bgcolor="white">
                    <A href="<%= unit_photos_path %>"><b>Photo roster</b></A><span class=bullet>&nbsp;&nbsp;&bull;&nbsp;</span>
                    <A href='<%= edit_member_path(current_member) %>' class='small'><i>Edit my photos</i></A><br>            </td>
                  <td class="body" align="right"><a href='/reports'>Database Reports</a></td>
                </tr>
              </table>
              </font>
            </td>
          </tr>

          <tr>
            <td valign="top" class="body" bgcolor="#eeeeee"><I><b><font color="#333333" size="2">Certifications</font></b></I><br></td>
          </tr>
          <tr>
            <td valign="top" bgcolor="white"><font size="2" class="body">
              <A href="<%= unit_certs_path %>"><b>Unit certifications</b></A><span class=bullet>&nbsp;&nbsp;&bull;&nbsp;</span>
              <A href='<%= member_certs_path(current_member) %>' class='small'><i>Edit my certifications</i></A>
            </font>
            </td>
          </tr>          

          <tr>
            <td valign="top" class="body" bgcolor="#eeeeee"><I><b><font color="#333333" size="2">Calendars and Availability</font></b></I><br></td>
          </tr>
          <tr>
            <td valign="top" bgcolor="white">
              <font size="2" class="body">
                <A href="<%= unit_avail_ops_path %>"><b>Unit operations availability</b></A><span class=bullet>&nbsp;&nbsp;&bull;&nbsp;</span>
                <A href='<%= member_avail_ops_path(current_member)%>' class='small'><i>Edit my availability for operations</i></A><br>          <p>
                <A href="<%= do_assignments_path %>"><b>Duty Officer schedule</b></A><span class=bullet>&nbsp;&nbsp;&bull;&nbsp;</span>
                <A href='<%= member_avail_dos_path(current_member) %>' class='small'><i>Edit my DO availability</i></A><br>          <p>
                <A href="http://bamru.info/calendar"><b>Public webpage calendar</b></A><span class=bullet>&nbsp;&nbsp;&bull;&nbsp;</span>
                <A href='http://bamru.info/admin' class='small'><i>Edit the public webpage calendar</i></A>
              </font>
            </td>
          </tr>
          <tr>
            <td valign="top" class="body" bgcolor="#eeeeee"><I><b><font color="#333333" size="2">Member Services</font></b></I><br></td>
          </tr>
          <tr>
            <td valign="top" bgcolor="white">
              <table width=100%><tr>
                <td><font size="2" class="body"><b><a href="/home/tbd">BAMRU Wiki</a></b><br/></font></td>
                <% if current_member.developer? %>
                  <td align=right><b><%= link_to "BAMRU Chat", '/chats' %></b></td>
                <% end %>
              </tr></table>
            </td>
          </tr>
          <tr>
            <td align="right" class="body" bgcolor="#cccccc"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>
