<h2>Labs</h2>
<p></p>
These prototypes are for learning new software tools and techniques.  They are not feature-complete.<br/>
Let Andy know if you spot problems or have ideas for improvement.
<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Mobile</h3>
BAMRU Mobile is designed for Android, iPhone, iPad, iPod, Kindle Fire and BlackBerry.<br/>
You can also test on your desktop, using a new version of Chrome or Firefox.
<p></p>
<table width=100%>
  <tr>
    <td>
      <b>Mobile 1</b><br/>
      Works fine on wifi.<br/>
      No offline support.<br/>
      <%= raw qr_tag(mobile1_url) %><br/>
      <%= link_to mobile1_url, mobile1_path %>
    </td>
    <td>
      <b>Mobile 2</b><br/>
      Good offline support.<br/>
      Poor scrolling.<br/>
      <%= raw qr_tag(mobile2_url) %><br/>
      <%= link_to mobile2_url, mobile2_path %>
    </td>
    <td valign=top>
      <b>Mobile 3</b><br/>
      Fast, online and off.<br/>
      Minimal but usable.<br/>
      <%= raw qr_tag(mobile3_url) %><br/>
      <%= link_to mobile3_url, mobile3_path %>
    </td>
    <td valign=top>
      <b>Mobile 4</b><br/>
      Experimental prototype.<br/>
      Mapping & Geolocation.<br/>
      <%= raw qr_tag(mobile4_url) %><br/>
      <%= link_to mobile4_url, mobile4_path %>
    </td>
  </tr>
</table>

<p></p>
<h3 width=100% style='background: grey; padding: 3px; color: white;'>Messaging</h3>
Experiments with chat and real-time message feeds.
<p></p>
<b><%= link_to "Chat1", '/chat1'  %></b> - simple chat client<br/>
<b><%= link_to "Chat2", '/chat2'  %></b> - chat client using client-side mvc<br/>
<b><%= link_to "Monitor", '/monitor'  %></b> - streaming performance stats and events