<h2>BAMRU Mobile ( ALPHA )</h2>
<p></p>
BAMRU Mobile is designed for Android, iPhone, iPad, iPod, and BlackBerry.
<p></p>
You can also test on your desktop, using a new version of Chrome or Firefox.
<p></p>
These prototypes are for learning new software tools and techniques.  They are not feature-complete.
<p></p>
Let Andy know if you spot problems or have ideas for improvement.
<p></p>
<table width=100%>
  <tr>
    <td>
      <b>Prototype 1</b> (HTML5)<br/>
      Works fine on wifi.<br/>
      Not so great when network is slow.<br/>
      Status: Finished<br/>
      <%= image_tag("mobile1.png") %><br/>
      <%= link_to mobile1_url, mobile1_path %>
    </td>
    <td>
      <b>Prototype 2</b> (HTML5)<br/>
      Works w/o network connection.<br/>
      Scrolling performance is poor.<br/>
      Status: Finished<br/>
      <%= image_tag("mobile2.png") %><br/>
      <%= link_to mobile2_url, mobile2_path %>
    </td>
    <td valign=top>
      <b>Prototype 3</b> (HTML5)<br/>
      Minimal style, fast performance.<br/>
      Our final prototype?<br/>
      Status: Work in Progress<br/>
      <%= image_tag("mobile3.png") %><br/>
      <%= link_to mobile3_url, mobile3_path %>
    </td>
  </tr>
</table>