<%= javascript_include_tag "mobile/mobile_paging" %>

<div id="select">

  <%= raw select_layout -%>

  <div  data-role="fieldcontain" style='margin-top:-15px !important;'>
    <fieldset data-role="controlgroup">
      
      <% @members.each do |mem| -%>
        <input type="checkbox" name="checkbox-<%= mem.id %>" id="checkbox-<%= mem.id %>" class="custom" />
        <label for="checkbox-<%= mem.id %>"><%= "#{mem.typ} - #{mem.full_name_do}" %></label>
      <% end %>

    </fieldset>
  </div>

</div>

<div id="send">
  Input Text:<br/>
  <textarea rows=4 name="textarea" id="textarea"></textarea><br/>
  RSVP <%= raw rsvp_mobile_select %>
  <button class='ui-btn-hidden' type="submit">Send</button>
</div>

