<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=250 align=left>
            <b>RSVP:</b> <b><%= link_to(@member.full_name, member_path(@member)) %></b>
          </td>
          <td align=center>
            <%= link_to("Message ##{@dist.message.id} Detail", message_path(@dist.message)) %>
         </td>
          <td width=250 align=right>
            <%= link_to "#{@member.first_name}'s Inbox", member_inbox_index_path(@member) %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>

      <% if @dist.blank? %>
        Unrecognized RSVP Key: <%= @key %>
      <% else %>

        <p></p>
        <table>
          <tr>
            <td align=right width=150><b>Message #<%= @message.id %>:</b></td>
            <td><%= @message.text %></td>
          </tr>
          <tr>
            <td align=right width=150><b>Sent:</b></td>
            <td>from <%= @message.author.short_name %> to <%= @dist.member.short_name %> at <%= @message.created_at.strftime("%y-%m-%d %H:%M:%S") %></td>
          </tr>
          <tr>
            <td align=right><b>RSVP:</b></td>
            <td><%= @rsvp.prompt %></td>
          </tr>
          <tr>
            <td> </td>
            <td>
              <div style='margin: 20px;'>
                Your current response is <b><%= @dist.rsvp_display_answer(:chomp) %></b>
                <% if @dist.rsvp_answer.downcase == "yes" %>
                  <%= @rsvp.yes_prompt %>
                <% end %>
                <% if @dist.rsvp_answer.downcase == "no" %>
                  <%= @rsvp.no_prompt %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <% if @dist.rsvp_answer != "Yes" %>
                <%= link_to "Change your response to YES", "/rsvps/#{@key}?response=yes" %>: <%= @rsvp.yes_prompt %><br/>
              <% end %>
              <% if @dist.rsvp_answer != "No" %>
                <%= link_to "Change your response to NO", "/rsvps/#{@key}?response=no"  %>: <%= @rsvp.no_prompt %><br/>
              <% end %>
            </td>
          </tr>
        </table>

        <p></p>
        <br/>

      <% end %>

    </div>
    <div id=x_footer style='font-size: 8pt;'>
    </div>

  </div>
</div>