<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>Team Duty Officers</b></td>
          <td align=right>
            <%= link_to("Back", do_assignments_path(@quarter)) %>
          </td>
        </tr>
      </table>
    </div>
    <div id=x_single_col class=centered>
      <%= @quarter[:year] %> / Q<%= @quarter[:quarter] %> <p/>

      <%= edit_link_prev(@quarter) %> <%= edit_link_current_quarter %> <%= edit_link_next(@quarter) %><p/>



<%= form_for @org, :method => :post, :url => do_assignments_path do |org| %>
  <table border=1 align=center>
    <tr><th>Year</th><th>Quarter</th><th>Week</th><th>DO Name</th></tr>
    <% @org.do_assignments_for(Time.now.year, Time.now.current_quarter).each do |ado| %>
      <%= org.fields_for :do_assignments, ado do |ido| %>
        <%= ido.hidden_field :year, :value => ado.year %>
        <%= ido.hidden_field :quarter, :value => ado.quarter %>
        <%= ido.hidden_field :week, :value => ado.week %>
        <tr>
          <td><%= Time.now.year %></td><td><%= Time.now.current_quarter %></td>
          <td><%= ado.week%></td>
          <td><%= ido.select :name, ado.avail_members, :include_blank => true %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <p/>
  <%= org.submit "Update" %>
<% end %>





    </div>
    <div id=x_footer> </div>
  </div>
</div>