<%# javascript_include_tag "all_avail_dos"        %>

<div id=x_container>
  <div id=x_header>
    <table width=100%>
      <tr>
        <td align=left><b>Duty Officer Schedule</b></td>
        <td align=right>
          <%= avail_dos_link_next_quarter("Edit My Q#{next_quarter_number} DO Availability") %>
        </td>
      </tr>
    </table>
  </div>
  <div id=x_single_col class=centered>
    <table width=100%>
      <tr>
        <td width=40% align=right>Showing <%= @quarter[:year] %> / Q<%= @quarter[:quarter] %></td>
        <td width=20%</td>
        <td width=40% align=left><%= link_prev(@quarter) %> <%= link_current_quarter %> <%= link_next(@quarter) %></td>
      </tr>
    </table>

    <table border=1 align=center>
      <thead>
      <tr>
        <th>Shift</th><th>Start</th><th>End</th><th>DO Name</th>
      </tr>
      </thead>
      <tbody>
      <% @do_assignments.each do |a| %>
        <% if a.current? %>
          <tr style="background-color: #ccffcc;">
        <% else %>
          <tr>
        <% end %>
        <td><%= a.year%> / Q<%= a.quarter%> / Week<%= a.week%></td>
        <td><%= a.start_time.show %></td>
        <td><%= a.end_time.show %></td>
        <td><%= raw do_assignment_display_name(a) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p></p>
  </div>
  <div id=x_footer style='font-size: 10pt;'>
      <%= link_to "Edit", edit_do_assignment_path(1, @quarter) %>
  </div>
</div>
