
<section id="home" data-role="page">
  <header data-role="header"><h1>home</h1></header>
  <div class="content">

    <br/>
    <div data-role="listview" data-inset="true" data-theme="c">
      <li><%= link_to "Roster",               "#roster"      %></li>
      <li><%= link_to "DO: #{@do.last_name}", "#do"          %></li>
      <li><%= link_to "Status Line",          "#status"      %></li>
      <li><%= link_to "Send Page",            "#send-page"   %></li>
      <li><%= link_to "Unit Message Log",     "#message-log" %></li>
      <li><%= link_to "My Inbox",             "#inbox"       %></li>
    </div>

  </div>
</section>

<section id="roster" data-role="page">
  <header data-role="header"><h1>page2</h1></header>
  <div class="content">

    Roster

  </div>
</section>

<section id="do" data-role="page">
  <header data-role="header"><h1>page2</h1></header>
  <div class="content">

    DO

  </div>
</section>

<section id="send-page" data-role="page">
  <header data-role="header"><h1>page2</h1></header>
  <div class="content">

    Send Page

  </div>
</section>

<section id="message-log" data-role="page">
  <header data-role="header"><h1>page2</h1></header>
  <div class="content">

    Message Log

  </div>
</section>

<section id="inbox" data-role="page">
  <header data-role="header"><h1>page2</h1></header>
  <div class="content">

    My Inbox

  </div>
</section>

