<%= javascript_include_tag "jquery.tablesorter.min.js" %>
<%= javascript_include_tag "members.js" %>
<%= javascript_include_tag "unit_certs.js" %>
<%= javascript_include_tag "unit_certs_table.js" %>

<table id="myTable" class="tablesorter">
  <thead>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Medical</th>
    <th>CPR&nbsp;&nbsp;</th>
    <th>HAM&nbsp;&nbsp;</th>
    <th>Tracking</th>
    <th>Avalanche</th>
    <th>Rigging</th>
    <th>ICS&nbsp;&nbsp;</th>
    <th>Search M.</th>
    <th>SO Driver</th>
    <th>SO Bkgrnd</th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |mem| %>
    <tr>
      <td><%=mem.full_roles%></td>
      <td class=link><a href="/members/<%= mem.id %>"><%= mem.full_name %></a></td>
      <td><%= mem.display_cert("medical")    %></td>
      <td><%= mem.display_cert("cpr")        %></td>
      <td><%= mem.display_cert("ham")        %></td>
      <td><%= mem.display_cert("tracking")   %></td>
      <td><%= mem.display_cert("avalanche")  %></td>
      <td><%= mem.display_cert("rigging")    %></td>
      <td><%= mem.display_cert("ics")        %></td>
      <td><%= mem.display_cert("overhead")   %></td>
      <td><%= mem.display_cert("driver")     %></td>
      <td><%= mem.display_cert("background") %></td>
    </tr>
  <% end %>
  </tbody>
</table>