<%= javascript_include_tag "jquery.tablesorter.min.js" %>
<%= javascript_include_tag "members.js" %>
<%= javascript_include_tag "unit_certs.js" %>
<%= javascript_include_tag "unit_certs_table.js" %>

<table id="myTable" class="tablesorter">
  <thead>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Medical</th>
    <th>CPR&nbsp;&nbsp;</th>
    <th>HAM&nbsp;&nbsp;</th>
    <th>Tracking</th>
    <th>Avalanche</th>
    <th>Rigging</th>
    <th>ICS&nbsp;&nbsp;</th>
    <th>Search M.</th>
    <th>SO Driver</th>
    <th>SO Bkgrnd</th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |mem| %>
    <tr>
      <td><%=mem.full_roles%></td>
      <td class=link><a href="/members/<%= mem.id %>"><%= mem.full_name %></a></td>
      <td>Medical</td>
      <td>CPR</td>
      <td>HAM</td>
      <td>Tracking</td>
      <td>Avalanche</td>
      <td>Rigging</td>
      <td>ICS</td>
      <td>Search M.</td>
      <td>SO Driver</td>
      <td>SO Bkgrnd</td>
    </tr>
  <% end %>
  </tbody>
</table>