<%= javascript_include_tag "jquery.tablesorter.min.js" %>
<%= javascript_include_tag "members.js" %>
<%= javascript_include_tag "unit_certs.js" %>
<%= javascript_include_tag "unit_certs_table.js" %>

<table id="myTable" class="tablesorter">
  <thead>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Med.&nbsp;&nbsp;</th>
    <th>CPR&nbsp;&nbsp;</th>
    <th>HAM</th>
    <th>Tracking&nbsp;&nbsp;</th>
    <th>Avy&nbsp;&nbsp;</th>
    <th>Rigging&nbsp;&nbsp;</th>
    <th>ICS&nbsp;&nbsp;</th>
    <th>Search<br/>Mgmt.&nbsp;&nbsp;</th>
    <th>SO<br/>Driver&nbsp;&nbsp;</th>
    <th>SO<br/>Bkgrnd&nbsp;&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |mem| %>
    <tr>
      <td><%=mem.full_roles%></td>
      <td class=link><%= link_to(raw(mem.cert_color_name), member_path(mem), :class => "namecolor", :style => "text-decoration:none;") %>
      <%= raw mem.display_cert("medical")    %>
      <%= raw mem.display_cert("cpr")        %>
      <%= raw mem.display_cert("ham")        %>
      <%= raw mem.display_cert("tracking")   %>
      <%= raw mem.display_cert("avalanche")  %>
      <%= raw mem.display_cert("rigging")    %>
      <%= raw mem.display_cert("ics")        %>
      <%= raw mem.display_cert("overhead")   %>
      <%= raw mem.display_cert("driver")     %>
      <%= raw mem.display_cert("background") %>
    </tr>
  <% end %>
  </tbody>
</table>