<%= javascript_include_tag "unit_certs/all_unit_certs" %>

<div id=x_container>
  <div id=x_wide_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>Unit Certifications</b></td>
          <td align=center>
            Search: <input name="filter" id="filter-box" value="" maxlength="15" size="15" type="text">
            <input id="filter-clear-button" type="submit" value="Clear"/>
          </td>
          <td align=right>
            <%= link_to("Edit My Certs", member_certs_path(current_member)) %>
          </td>
        </tr>
      </table>
    </div>
    <div id=x_single_col>

      <% cache("unit_certs_table-#{@fragment_type}") do %>
        <table id="myTable" class="tablesorter">
          <thead>
          <tr>
            <th width=40>Role</th>
            <th>Name</th>
            <th>Med.&nbsp;&nbsp;</th>
            <th>CPR&nbsp;&nbsp;</th>
            <th>HAM</th>
            <th>Tracking&nbsp;&nbsp;</th>
            <th>Avy&nbsp;&nbsp;</th>
            <th>Rigging&nbsp;&nbsp;</th>
            <th>ICS&nbsp;&nbsp;</th>
            <th>Search<br/>Mgmt.&nbsp;&nbsp;</th>
            <th>SO<br/>Driver&nbsp;&nbsp;</th>
            <th>SO<br/>Bkgrnd&nbsp;&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% @members.each do |mem| %>
            <tr>
              <td><%=mem.typ%></td>
              <td class=link><%= color_name(mem) %>
                <%= raw display_table_cert(mem, "medical")    %>
                <%= raw display_table_cert(mem, "cpr")        %>
                <%= raw display_table_cert(mem, "ham")        %>
                <%= raw display_table_cert(mem, "tracking")   %>
                <%= raw display_table_cert(mem, "avalanche")  %>
                <%= raw display_table_cert(mem, "rigging")    %>
                <%= raw display_table_cert(mem, "ics")        %>
                <%= raw display_table_cert(mem, "overhead")   %>
                <%= raw display_table_cert(mem, "driver")     %>
                <%= raw display_table_cert(mem, "background") %>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

    </div>
    <div id=x_footer style="font-size: 10pt;">
      <table width=100% style="font-size: 10pt;">
        <tr>
          <td width=50%>
            <a href="#" id=clearsort>Clear Sort Settings</a>
          </td>
          <td width=50%>
            <input type="checkbox" id=rsa_check> Show R, S, A Members
          </td>
        </tr>
      </table>
      <hr>
      <table width=100% >
        <tr>
          <td align=left style="font-size: 8pt;">
            CELL COLOR - <span style="background-color: lightgreen;">Green</span>: current cert; <span style="background-color: yellow;">Yellow</span>: expires within 3 months; <span style="background-color: orange;">Orange</span>: expires within 1 month; <span style="background-color: pink;">Pink</span>: expired<br/>
            TEXT COLOR - <span style='color:blue;'>Blue</span>: link to documentation; <span style='color: purple;'>Purple</span>: link to comment; <span style='color: red;'>Red member name</span>: no current Medical or CPR
          </td>
          <td align=right  style="font-size: 8pt;">
            <b>*</b> indicates multiple certs<br/>
            <%= link_to("View all Expired Certs", "#{reports_path}/BAMRU-CertExpiration.pdf", :target => "_blank") %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="cert_blanket" style="display: none;"></div>
<div id="cert_popup"  style="display: none;">
  <span id="popname"></span> has entered the following comment:<p></p>
  "<span id="popcomment"></span>"<p></p>
  <a href="#" onclick="close_popup();">Close</a>
</div>
