<!DOCTYPE html>
<!--<html manifest="/mobile3f.manifest">-->
<html>
<head>
  <title>BAMRU Mobile 4</title>
  <link href='<%= raw favicon_file %>' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
  <link rel="stylesheet" href="/assets/mobile3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <script src="/assets/mobile4/application.js"></script>
  <script>
    window.members   = new M4_Members(<%= raw @mem_json %>)
    window.messages  = new M4_Messages(<%= raw @msg_json %>)
    window.inbox     = new M4_Distributions(<%= raw @dst_json %>)
    window.myID   = returnSelf(<%= current_member.id %>)
  </script>
</head>

<body>

<header>
  <div id=title>
    <div class=bookend><a class='back' href='#home'>Home</a></div>
    <div id="label">Text Here</div>
    <div class=bookend> </div>
  </div>
</header>

<div id='wrapper'>
  <div id='content'>

    <div id='home' class='page'>
      <a class='nav' href="#members" >Members</a>
      <a class='nav' href="#members/<%=@do_id%>">DO: <%= @do_name %></a>
      <a class='nav' href="#status"  >Status Line</a>
      <!--<a class='nav' href="#send"    >Send Page</a>-->
      <a class='nav' href="#messages">Unit Message Log</a>
      <a class='nav' href="#inbox"><%= @inbox_label %></a>
      <a class='nav' href="#profile">My Profile</a>
      <div class=footer>
        <span id=state></span>
        <div id=update>updated <%= Time.now.strftime("%b-%d %H:%M:%S") %></div>
      </div>
    </div>

    <div id='members' class='page'>
      MEMBERS
    </div>

    <div id='member' class='page'>
      MEMBER
    </div>

    <div id='duty' class='page'>
      DUTY OFFICER
    </div>

    <div id='status' class='page'>
      <div class='center'>
        <b>BAMRU Status Line</b>
        <p></p>
        <% if @is_phone %>
          <a class='nav' href='tel:650-858-4618' style='text-align: center;'>Dial 650-858-4618</a>
        <% else %>
          650-858-4618
        <% end %>
      </div>
    </div>

    <div id='send' class='page'>
      <div style='text-align: center; padding:  20px;'>
        Under Construction
      </div>
    </div>

    <div id='messages' class='page'>
      MESSAGES
    </div>

    <div id='message' class='page'>
      MESSAGE
    </div>

    <div id='location' class="page">
      <div id='coords' style='text-align: center;'>TBD...</div>
      <div id="canvas" style="margin:0; width: 100%; margin-top: 10px;"></div>
    </div>

    <div id='inbox' class='page'>
      INBOX
    </div>

    <div id='profile' class='page'>
      <table class="mobile_table">
        <tr><td>Username</td>    <td><%= current_member.short_name %></td> </tr>
        <tr><td>Device</td>      <td><%= @device %></td>                   </tr>
        <tr><td>Screen Size</td> <td id="xsize">TBD</td>                   </tr>
      </table>
      <% if current_member.developer? %>
        <a class="nav" href='#location'>My Location</a>
      <% end %>
      <a class="nav" href="#" id="logout">Log Out</a>
    </div>

    <div id='default' class='page'>
      PAGE NOT FOUND
    </div>
  </div>
</div>

<% if @is_ipad %>
  <script src="/assets/mobile3/iscroll.js"></script>
<% end %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=<%= @sensor %>"></script>

</body>

</html>