<script>var autoselectMemberNames = [ <%= Member.autoselect_member_names('/avail_dos') %> ];</script>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"  %>
<%= javascript_tag "var MEMBER_ID = #{@member.id};" %>
<%= javascript_include_tag "jquery-ui.min.js"       %>
<%= javascript_include_tag "members_autoselect.js"  %>
<%= javascript_include_tag "avail_dos_shortcut.js"  %>
<%= csrf_meta_tag %>

<div id=x_container>
  <div id=x_wide_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=40% align=left>
            Member DO Availability: <b><%= link_to(@member.full_name, member_path(@member)) %></b>
          </td>
          <% if current_member.admin? %>
            <td width=20% align=center>
              <%= link_to("Unit DO Schedule", do_assignments_path) %>
            </td>
            <td width=40% align=right>
              <%= link_to('<', member_avail_dos_path(@member.prev_member_id)) %>
              <input size=14 id="autoselect" value="find member...">
              <%= link_to('>', member_avail_dos_path(@member.next_member_id)) %>
            </td>
          <% else %>
            <td width=60% align=right>
              <%= link_to("Back", do_assignments_path) %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>

    <div id=x_single_col class=centered>

      <%= @quarter[:year] %> / Q<%= @quarter[:quarter] %><p/>
      
      <%= avail_dos_link_prev(@quarter) %> <%= avail_dos_link_current_quarter(@quarter) %> <%= avail_dos_link_next(@quarter) %><p/>

      <%= form_for @member, :method => :post, :url => member_avail_dos_path(@member) do |mem| %>
        <%= mem.hidden_field :current_year, :value => @quarter[:year] %>
        <%= mem.hidden_field :current_quarter, :value => @quarter[:quarter] %>
        <table align=center border=1>
          <tr><th>Shift</th><th>Start</th><th>End</th><th>Status</th><th>Comment</th></tr>
          <% @avail_set.each do |ado| %>
            <%= mem.fields_for :avail_dos, ado do |ido| %>
              <%= ido.hidden_field :year, :value => ado.year %>
              <%= ido.hidden_field :quarter, :value => ado.quarter %>
              <%= ido.hidden_field :week, :value => ado.week %>
              <tr>
                <td><%= ado.year %> / Q<%= ado.quarter %> / Week<%= ado.week%></td>
                <td><%= ado.start_time.show %></td>
                <td><%= ado.end_time.show %></td>
                <td>
                  <% if ado.typ.blank? %>
                    <%= ido.select :typ, %w(available unavailable), :include_blank => true %>
                  <% else %>
                    <%= ido.select :typ, %w(available unavailable) %>
                  <% end %>
                </td>
                <td><%= ido.text_field :comment %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <p/>
        <table width=100%>
          <tr>
            <td width=50%>Shortcut:
              <select id=quickset>
              <option value="*"></option>
              <option value="">Clear all</option>
              <option value="available">Set all to Available</option>
              <option value="unavailable">Set all to Unavailable</option>
              </select>
            </td>
            <td width=50%><%= mem.submit "Save" %></td>
          </tr>
        </table>

      <% end %>


    </div>
    <div id=x_footer> </div>

  </div>
</div>
