<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
  <TITLE><%= @event_report.title %> - <%= @event_report.event.title %></TITLE>
  <STYLE TYPE="text/css">
    @page { margin-right: 1in; margin-top: 0.88in; margin-bottom: 0.75in }
    @page:first { margin-top: 0.5in; margin-bottom: 0.75in }
    P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 0; orphans: 0 }
    P.western { font-family: "Courier", "Courier New", monospace; font-size: 12pt; so-language: en-US }
    P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
    P.ctl { font-family: "Courier", "Courier New", monospace; font-size: 10pt; so-language: ar-SA }
    H1 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; text-align: center; widows: 0; orphans: 0 }
    H1.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-US }
    H1.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
    H1.ctl { font-family: "Times New Roman", serif; font-size: 10pt; so-language: ar-SA; font-weight: normal }
    H2 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; widows: 0; orphans: 0 }
    H2.western { font-family: "Times New Roman", serif; font-size: 20pt; so-language: en-US }
    H2.cjk { font-family: "Times New Roman", serif; font-size: 20pt }
    H2.ctl { font-family: "Times New Roman", serif; font-size: 10pt; so-language: ar-SA; font-weight: normal }
    TD P { margin-bottom: 0in; direction: ltr; color: #000000; widows: 0; orphans: 0 }
    TD P.western { font-family: "Courier", "Courier New", monospace; font-size: 12pt; so-language: en-US }
    TD P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
    TD P.ctl { font-family: "Courier", "Courier New", monospace; font-size: 10pt; so-language: ar-SA }
    TH P { margin-bottom: 0in; direction: ltr; color: #000000; widows: 0; orphans: 0 }
    TH P.western { font-family: "Courier", "Courier New", monospace; font-size: 12pt; so-language: en-US }
    TH P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
    TH P.ctl { font-family: "Courier", "Courier New", monospace; font-size: 10pt; so-language: ar-SA }
    .labelCell {text-align: right; font-family: "Times New Roman, serif"; font-size:10pt; font-weight: bold;}
    .valueCell {font-family: "Times New Roman, serif"; font-size:10pt;}
    .checkCell {font-family: "Times New Roman, serif"; font-size: 10pt; width: 12px; text-align: center;}
    .topTable { width: 700px; border-collapse: collapse;}
    .stdTable { width: 700px; border-collapse: collapse;}
    .stdTable tr { width: 700px; }
    .stdTable tr, .topTable tr {vertical-align: top;}
    .topTable td, .stdTable th { border: 1px solid black; padding: 4px;}
    .stdTable td, .topTable th { border: 1px solid black; padding: 4px; border-top: none; }
    .headerRow { background: lightgrey; font-size: 6pt; }
    .cellLabel { font-size: 6pt; margin-bottom: 10px; }
    @media all {
      .pageBreak      { margin-top: 10px; margin-bottom: 10px;}
      .pageBreakLabel { text-align: center; padding: 2px; width: 700px; font-size: 8pt; background: lightgrey;}
    }
    @media print {
      .pageBreak      { page-break-before: always;}
      .pageBreakLabel { display: none;}
    }
  </STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" DIR="LTR">
<table width=700px; style='margin-bottom: 5px;'>
  <tr>
    <td><IMG SRC="/Logo_bamru.gif" height=95 /></td>
    <td align="center">
      <H1 CLASS="western">BAY AREA MOUNTAIN RESCUE UNIT</H1>
      <div style="font-size: 20pt; margin-top: 10px; margin-bottom: 10px; padding: 5px; border: 1px solid black; background: #bfbfbf;">
        INTERNAL AFTER ACTION REPORT
      </div>
      <i>CONFIDENTIAL - BAMRU Members Only</i>
    </td>
  </tr>
</table>

<table class='topTable'>
  <tr>
    <td class='labelCell' width=105>EVENT DATE</td>
    <td class='valueCell' width=190><%= event_date("%b %d, %Y") %></td>
    <td class='labelCell' width=105>EVENT NAME</td>
    <td class='valueCell'><%= incident_name_with_period %></td>
  </tr>
</table>

<table class='stdTable'>
  <tr>
    <td class='labelCell' width=105>LOCATION</td>
    <td class='valueCell' width=190><%=  @event_report.event.location %></td>
    <td class='labelCell' width=105>EVENT TYPE</td>
    <td class='valueCell'><%=  event_label %></td>
  </tr>
</table>

<table class='stdTable'>
  <tr>
    <td class='labelCell' width=105>EVENT URL</td>
    <td class='valueCell' width=190> http://<%=  request.host_with_port %>/events/<%=  @event_report.event.id %></td>
    <td class='labelCell' width=105>REPORT URL</td>
    <td class='valueCell'> http://<%=  request.host_with_port %>/events_reports/<%= @event_report.id %></td>
  </tr>
</table>

<table class='stdTable'>
  <tr>
    <td class='labelCell' width=105>DESCRIPTION</td>
    <td class='valueCell'><%=  @event_report.event.description %></td>
  </tr>
</table>

<table class='stdTable'>
  <tr>
    <td class='labelCell' width=105>PARTICIPANTS</td>
    <td class='valueCell'><%= raw participant_list  %></td>
  </tr>
</table>

<table class='stdTable'>
  <tr>
    <td class='valueCell'><b style='padding-left: 48px; padding-right: 10px;'> REPORT </b> <%=  raw @event_report.description.gsub("\n\n", "<p></p>") %></td>
  </tr>
</table>

<div class='pageBreak'><div class='pageBreakLabel'> page break </div></div>

<table class='topTable'>
  <tr>
    <td class='labelCell' width=105>HOURS</td>
    <td class='valueCell'><%= raw internal_aar_hours %></td>
  </tr>
</table>

<% if @event_report.data["show_photos"] %>
<table class='stdTable'>
  <tr>
    <td class='labelCell' width=105>PHOTOS</td>
    <td class='valueCell'>
      <%= raw photo_gallery %>
    </td>
  </tr>
</table>
<% end %>

<% if @event_report.data["show_links"] %>
<table class='stdTable'>
  <tr>
    <td class='labelCell' width=105>LINKS</td>
    <td class='valueCell'>
      <%= raw link_gallery %>
    </td>
  </tr>
</table>
<% end %>

<% if @event_report.data["show_files"] %>
<table class='stdTable'>
  <tr>
    <td class='labelCell' width=105>FILES</td>
    <td class='valueCell'>
      <%= raw file_gallery %>
    </td>
  </tr>
</table>
<% end %>

<div style='margin-top: 15px;'>
SUBMITTED BY: <%= @event_report.signed_by %>
</div>

</BODY>
</HTML>