<div style="text-align: center;">
  <div style="width: 400px; margin: auto;">
    <h2>New Photo</h2>
    Add a new photo for <%= @member.full_name %>.
    (<%= link_to "back", edit_member_path(@member) %>)
    <p></p>
    <%= simple_form_for @photo, :url => member_photos_path(@member) do |pic| %>
      <%= pic.input :image, :label => "" %>
      <%= pic.button :submit %>
    <% end %>
    <p></p>
    <div style="font-size: 7pt; background-color: lightgray; padding: 10px;">
      After clicking 'Create Photo', this dialog box may remain open for several
      minutes if you are uploading a large file.  Max file size is 3MB.  Photos
      with a width/height ratio of 4/3 will exactly fit in the photo display.
    </div>
  </div>
</div>
