<table id="myTable" class="tablesorter">
  <thead>
  <tr>
    <th width=60><span style='padding-right: 15px;'>Role</span></th>
    <th></th>
    <th>Name</th>
    <th>Created At</th>
    <th>Last Event At</th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
      <tr>
        <td align=right style='vertical-align:bottom;'><span style='padding-right: 5px'><%= member.full_roles %></span></td>
        <td style='padding:0;margin:0;height:23px;width:23px;'><%= raw guest_icon(member) %></td>
        <td style='vertical-align:bottom;'><%= link_to member.full_name, "/registry/show/#{member.id}" %></td>
        <td style='vertical-align:bottom;'><%= member.created_at.strftime("%Y-%m-%d") %></td>
        <td style='vertical-align:bottom;'><%= raw last_event_link(member) %></td>
      </tr>
  <% end %>
  </tbody>
</table>