<h2>Edit Template</h2>

<%= simple_form_for @template do |f| %>
  <%= f.input :name         %>
  <%= f.input :prompt       %>
  <%= f.input :yes_prompt   %>
  <%= f.input :no_prompt    %>
  <%= f.submit              %>
<% end %>