<%= javascript_include_tag "rsvp_templates/all_rsvp_templates_indx" %>

<%= csrf_meta_tag %>

<style>
  .rsvpLi {
    list-style-type: none;
    border-top: white;
    border-left: white;
    border-right: white;
    border-bottom: lightgray;
    border-style: solid;
    border-width:  1px;
  }
</style>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td width=50% align=left>
            <b>RSVP Templates</b>
          </td>
          <td width=50% align=right>
            <%= link_to('Unit Roster', members_path) %>
          </td>
        </tr>
      </table>
    </div>

    <div id=x_single_col>

      <div style='text-align: center; margin-top: 5px; margin-bottom:10px;'>
        <%= link_to "Create New Template", new_rsvp_template_path %>
      </div>

      <%= raw template_output %>

      <p></p>
    </div>

    <div id=x_footer style='font-size: 8pt;'>
    </div>

  </div>
</div>
