<h1>Editing member</h1>

<%# render 'form' %>

<%= simple_form_for @member, :url => user_path(@member) do |f| %>
  <%= f.input :email %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Show', "/members/#{@member.id}" %> |
<%= link_to 'Back', users_path %>
