<HTML>
<head>
<title>BAMRU Maplist</title>
<%= javascript_include_tag :application %>
<script type="text/javascript">
  $(document).ready(function() {
    $("table tr:nth-child(even)").addClass("striped");
  });
</script>
<style>
  body,td {
    font-size: 8pt;
  }
  table {
    background-color: black;
    border: 1px black solid;
    border-collapse: collapse;
  }
  th {
    border: 1px outset silver;
    background-color: lightblue;
    color: black;
  }
  tr {
    background-color: white;
    margin: 1px;
  }
  tr.striped {
    background-color: lightgreen;
  }
  td {
    padding: 1px 8px;
  }
</style>

</head>
<body>
<table width = 740 align=center class=T>
  <tr><td align=center><h1>BAMRU Maplist</h1></td></tr>
</table>

<table width=740 align=center class=T border=1>
<tr><th>#</th><th>Role</th><th>Name</th><th>Home</th><th>Work</th><th>Mobile</th><th>Home</th><th>Work</th></tr>
<% @count = 0 %>
<% @members.each do |mem| %>
 <tr>
  <td><%= @count += 1 %></td>
  <td><%= mem.full_roles %></td>
  <td><%= mem.full_name %></td>
  <td><%= raw gmap_link(mem, "Home") %></td>
  <td><%= raw gmap_link(mem, "Work") %></td>
  <td><%= mem.phone("Mobile").try(:number) %></td>
  <td><%= mem.phone("Home").try(:number) %></td>
  <td><%= mem.phone("Work").try(:number) %></td>
</tr>
<% end %>
</table>
<hr>
</body>
</HTML>
