<%= javascript_include_tag "reports/all_reports" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>BAMRU Database Reports</b></td>
          <td align=right>
            Search: <input name="filter" id="filter-box" value="" maxlength="20" size="20" type="text">
            <input id="filter-clear-button" type="submit" value="Clear"/>
          </td>
        </tr>
      </table>
    </div>
    <div id=x_single_col>

      <table id="myTable" class="tablesorter">
        <thead>
        <tr>
          <th width=65>Category</th>
          <th>Name</th>
          <th width=50>Type</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <% @report_list.each do |report| %>
            <tr>
              <td><%= report[0] %></td>
              <td><%= report[1] %></td>
              <td><%= report_format(report) %>     </td>
              <td><%= report_description(report) %></td>
              <td><%= download_link(report)%>      </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div id=x_footer> </div>
  </div>
</div>
