<b><%= raw msg_created(@message) %></b><br/>
<%= @message.text %> <%= raw sent_read(@message, "long")%>
<%= raw rsvp_prompt(@message) %>
<% if @message.rsvp && @mydist%>
<br/>
You said: <%= raw response_helper(@message, @mydist) %>
<%= raw response_buttons(@message, @mydist) %>
<% else %>
<hr>
<% end %>
<table width=100%>
  <thead>
  <tr>
  <th scope="col" align=left>Recipient</th>
  <th scope="col" align=left>Read?</th>
  <th scope="col" align=left>RSVP</th>
  </td>
  </thead>
  <tbody>
  <% @dists.each do |dist| %>
    <tr>
      <td><%= dist.member.try(:short_name) %></td>
      <td><%= dist.read? ? "yes" : "no" %></td>
      <td><%= dist.rsvp_display_answer %></td>
    </tr>
  <% end %>
  </tbody>
</table>
