<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title><%= request.host.gsub('bamru','BAMRU')%></title>
  <link href='<%= raw favicon_file %>' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body id="mybody">

<div id="container">
  <div id="header" style="padding-top: 8px; padding-bottom: 5px;">
    <table width=100%><tr height=25>
      <td style="padding-bottom: 5px; font-size:23px;" width=250 valign=bottom>
        <%= link_to_unless_current("AAMRU.net", '/') %>
      </td>
      <td align=center valign=bottom>
        <div id=subnav><%= raw header_nav%></div>
      </td>
      <td width=250 align=right valign=bottom>
        <%= raw user_nav %>
      </td>
    </tr></table>
  </div>

  <div id="xbody">

    <%= raw app_notice %>
    <%= raw app_alert %>

    <%= yield %>

  </div>

  <div id="footer">
    <table width=100% style='padding-left: 30px; padding-right: 30px;'>
      <tr>
        <td align=center>
          Internal Use Only
          <% if env_browser_agent == "IE" %>
            <span style='margin-left: 100px;'>
            <a href="/home/chrome_frame" target="_blank">Please Install ChromeFrame on your IE Browser</a>
            </span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <% if Rails.env.development? %>
    <div id="debug_footer" style='text-align: center;'>
      <div class="debug"><%= raw debug_footer_text %></div>
    </div>
    <%= javascript_include_tag :bb_debug %>
  <% end %>
</div>

</body>
</html>
