<!DOCTYPE html>
<html>
<head>
  <title><%= request.host.gsub('bamru','BAMRU')%></title>
  <%= stylesheet_link_tag :application %>
  <link href='<%= raw favicon_file %>' rel='shortcut icon' type='image/vnd.microsoft.icon'/>
  <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <%= javascript_include_tag "jquery_ujs.js" %>
  <%# javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body id="mybody">

<div id="container">
  <div id="header" style="padding-top: 8px; padding-bottom: 5px;">
    <table width=100%><tr height=25>
      <td style="padding-bottom: 5px; font-size:23px;" width=300 valign=bottom>
        <%= link_to_unless_current("BAMRU.net", '/') %>
      </td>
      <td align=center valign=bottom>
        <div id=subnav><%= raw header_nav%></div>
      </td>
      <td width=300 align=right valign=bottom>
        <%= raw user_nav %>
      </td>
    </tr></table>
  </div>

  <div id="xbody">

    <%= raw app_notice %>
    <%= raw app_alert %>

    <%= yield %>

  </div>

  <div id="footer">
    <table align="center"><tr><td>Internal Use Only</td></tr></table>
  </div>
  <% if request.host.include?("ekel") %>
    <div class="debug"><%= raw debug_footer_text %></div>
  <% end %>
</div>


</body>
</html>
