<!DOCTYPE html>
<html>
<head>
  <title>Bnet</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body id="mybody">

<div id="container">
  <div id="header">
    <table width=100%><tr height=30>
      <td style="padding-bottom: 5px; font-size:23px;" width=325 valign=bottom>
        <%= link_to_unless_current("Private Webpage", '/') %>
      </td>
      <td align=center valign=bottom>
        Internal Use Only
        <div id=subnav><%= raw header_nav%></div>
      </td>
      <td width=325 align=right valign=bottom>
        <%= raw user_nav %>
      </td>
    </tr></table>
  </div>

  <%= raw app_notice %>
  <%= raw app_alert %>

  <%= yield %>

  <div id="footer">
    <table align="center"><tr><td>Internal Use Only</td></tr></table>
  </div>
  <div class ="debug"><%= raw debug_footer_text %></div>
</div>


</body>
</html>
