<li class=fields style="list-style-type: none;" id=other_info_<%=f.id%>>
  <span class=sort_handle>(+)</span>
  <%= f.hidden_field :position, :size => 2 %>
  <%= f.text_field :label,   :size => 15 %>
  <%= f.text_field :value,   :size => 15 %>
  <%= link_to_remove_field("remove", f) %>
  <%= f.hidden_field :_destroy %>


  def typ_opts
    base_opts = %w(Mobile Home Work Other)
    if typ.nil? || base_opts.include?(typ)
      base_opts
    else
      [typ] + base_opts
    end
  end
</li>