<li class=fields style="list-style-type: none;" id=other_info_<%=f.object_id%>>
  <span class=sort_handle><img src="/images/handle.png" class=handle></span>
  <%= f.hidden_field :position, :size => 2 %>
  <%= f.text_field :label,   :size => 18 %>
  <%= f.text_field :value,   :size => 18 %>
  <%= link_to_remove_field("remove", f) %>
  <%= f.hidden_field :_destroy %>
</li>
