<li class=fields style="list-style-type: none; border-style:  none;<%= check_style(@xphone) %>" id=phone_<%= f.object_id %>>
  <span class='sort_handle span_handle'><img src="/images/handle.png" class=handle></span>
  <%= f.hidden_field :position, :size => 2 %>
  <%= f.text_field :number, :size => 10 %>
  <%= f.select :typ, f.object.typ_opts %>
  <%= box_link(@xphone, 'phone_box') %>
  <%= f.check_box :pagable, :hidden => true %>
  <%= link_to_remove_field("remove", f) %>
  <%= f.hidden_field :_destroy  %>
  <%= f.hidden_field :sms_email %>
</li>