<script>var autoselectMemberNames = [ <%= @autoselect_member_names %> ];</script>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"  %>
<%= javascript_tag "var MEMBER_ID = #{@member.id};"  %>
<%= javascript_include_tag "equal_height.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "members_autoselect.js" %>
<%= javascript_include_tag "members_sort_photos.js" %>
<%= javascript_include_tag "members_edit_form.js" %>

<style>
  #sortable {list-style-type: none; margin: 0; padding: 0;}
  #sortable li {margin: 0 3px 3px 3px; padding: 4px; }
</style>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%><tr>
        <td align=left width=33%>Member Edit</td>
        <td align=center width=33%><%= link_to("Back", member_path(@member)) %></td>
        <td align=right width=33%>
            <input size=14 id="autoselect" value="Find Member">
        </td>
      </tr></table>
    </div>
    <div id=x_left_col>
      <p/>
      <div style="text-align: center;"><a href="#" id="save_link">Save</a> | <%= link_to "Reset", edit_member_path(@member)%></div>
      <p/>
      <%= form_for(@member, :html => {:id => 'memberz_form'}) do |f| %>
        <%= render "shared/error_messages", :target => @member %>
        <%= f.text_field :full_name, :size => 28 %><br/>
        <%= f.select :typ, %w(TM FM T R S A) %>
        Bd: <%= f.check_box('bd') %>
        OL: <%= f.check_box('ol') %><p/>
        <b>Password, Ham & V9</b><br/>
        <span class=plabel>Password: </span>
        <%= f.password_field :password, :size => 13 %>
        <span class=hlabel>Ham: </span>
        <%= f.text_field :ham, :size => 5 %><br/>
        <span class=plabel>Confirmation: </span>
        <%= f.password_field :password_confirmation, :size => 13 %>
        <span class=hlabel> V9: </span>
        <%= f.text_field :v9, :size => 5 %><p/>
        <b>Phones</b> <span class=add><%= link_to_function("add", "add_phone(this);")%></span><br/>
        <%= f.fields_for :phones do |phone| %>
          <%= phone.text_field :number, :size => 10 %>
          <%= phone.select :typ, %w(Other Mobile Home Work) %> remove<br/>
        <% end %>
        <p/><b>eMails</b> <span class=add><%= link_to_function("add", "add_email(this);") %></span><br/>
        <%= f.simple_fields_for :emails do |email| %>
          <span style=":red;"><%= email.text_field :address, :size => 20 %></span>
          <%= email.select :typ, %w(Other Personal Work) %> remove<br/>
        <% end %>
        <p/><b>Addresses</b> <span class=add><%= link_to_function("add", "add_address(this);")%></span><br/>
        <%= f.fields_for :addresses do |address| %>
          <%= address.text_area :full_address, :size => "20x2" %>
          <%= address.select :typ, %w(Other Home Work), {}, {:class => "upp"} %>
          <span class=upp> remove</span><br/>
        <% end %>
        <p/>
      <% end %>
    </div>
    <div id=x_right_col style="text-align: center;">
      <p/><%= link_to "Add New Photo", new_member_photo_path(@member) %><p/>
      <div id=sortable>
        <% @member.photos.each do |pic| %>
          <li id=photos_<%= pic.id %>>
            <span class=handle>[drag]</span>
            <%= image_tag pic.image.url(:thumb) %>
            <%= link_to 'remove', member_photo_path(@member, pic), :confirm => 'Are you sure?',:method => :delete %>
          </li>
        <% end %>
      </div>
    </div>

    <div id=x_footer>

    </div>
  </div>
</div>
