<script>var autoselectMemberNames = [ <%= @autoselect_member_names %> ];</script>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"  %>
<%= javascript_tag "var MEMBER_ID = #{@member.id};"  %>
<%= javascript_include_tag "equal_height.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "members_autoselect.js" %>
<%= javascript_include_tag "members_sort_photos.js" %>

<style>
  #sortable {list-style-type: none; margin: 0; padding: 0;}
  #sortable li {margin: 0 3px 3px 3px; padding: 4px; }
</style>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%><tr>
        <td align=left width=33%>Member Edit</td>
        <td align=center width=33%><%= link_to("Cancel", member_path(@member)) %></td>
        <td align=right width=33%>
            <input size=14 id="autoselect" value="Find Member">
        </td>
      </tr></table>
    </div>
    <div id=x_left_col>
      <p/>
      <%= simple_form_for @member do |f| %>
        <%= f.input :full_name, :input_html => {:size => 20} %>
        <%= f.input :password, :input_html => {:size => 20} %>
        <%= f.input :password_confirmation, :label => "Confirmation", :input_html => {:size => 20} %>
        <%= f.input :ham, :input_html => {:size => 20} %>
        <%= f.input :v9, :input_html => {:size => 20} %>
        <p/>Phones<br/>
        <%= f.simple_fields_for :phones do |phone| %>
          <%= phone.input :number, :input_html => {:size => 20} %>
          <%= phone.input :typ, :input_html => {:size => 20} %>
        <% end %>
        <p/>Addresses<br/>
        <%= f.simple_fields_for :addresses do |address| %>
          <%= address.input :address1, :input_html => {:size => 20} %>
          <%= address.input :address2, :input_html => {:size => 20} %>
          <%= address.input :typ, :input_html => {:size => 20} %>
        <% end %>
        <p/>eMails<br/>
        <%= f.simple_fields_for :emails do |email| %>
          <%= email.input :address, :input_html => {:size => 20} %>
          <%= email.input :typ, :input_html => {:size => 20} %>
        <% end %>
        <%= f.button :submit %>
        <p/>
      <% end %>
    </div>
    <div id=x_right_col style="text-align: center;">
      <p/><%= link_to "add new photo", new_member_photo_path(@member) %><p/>
      <div id=sortable>
        <% @member.photos.each do |pic| %>
          <li id=photos_<%= pic.id %>>
            <span class=handle>[drag]</span>
            <%= image_tag pic.image.url(:thumb) %>
            <%= link_to 'remove', member_photo_path(@member, pic), :confirm => 'Are you sure?',:method => :delete %>
          </li>
        <% end %>
      </div>
    </div>

    <div id=x_footer>

    </div>
  </div>
</div>
