<script>var autoselectMemberNames = [ <%= @autoselect_member_names %> ];</script>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"  %>
<%= javascript_tag "var MEMBER_ID = #{@member.id};"  %>
<%= javascript_include_tag "equal_height.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "members_autoselect.js" %>
<%= javascript_include_tag "members_sort_photos.js" %>

<style>
  #sortable {list-style-type: none; margin: 0; padding: 0;}
  #sortable li {margin: 0 3px 3px 3px; padding: 4px; }
</style>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%><tr>
        <td align=left width=33%>Member Edit</td>
        <td align=center width=33%><%= link_to("Cancel", member_path(@member)) %></td>
        <td align=right width=33%>
            <input size=14 id="autoselect" value="Find Member">
        </td>
      </tr></table>
    </div>
    <div id=x_left_col>
      <p/>
      <%= form_for @member do |f| %>
        <%= f.text_field :full_name, :size => 28 %><br/>
        <%= f.text_field :typ, :size=> 10 %>
        Bd: <%= f.check_box('bd') %>
        OL: <%= f.check_box('ol') %><br/>
        <%= f.password_field :password, :size => 12 %>
        <%= f.password_field :password_confirmation, :size => 12 %><br/>
        Ham: <%= f.text_field :ham, :size => 10 %>
        V9: <%= f.text_field :v9, :size => 10 %><p/>
        <p/><b>Phones</b> <span class=add><%= link_to_function("add", "add_phone(this);")%></span><br/>
        <%= f.fields_for :phones do |phone| %>
          <%= phone.text_field :number, :size => 10 %>
          <%= phone.text_field :typ, :size => 10 %><br/>
        <% end %>
        <p/><b>eMails</b> <span class=add><%= link_to_function("add", "add_email(this);") %></span><br/>
        <%= f.simple_fields_for :emails do |email| %>
          <%= email.text_field :address, :size => 15 %>
          <%= email.text_field :typ, :size => 10 %><br/>
        <% end %>
        <p/><b>Addresses</b> <span class=add><%= link_to_function("add", "add_address(this);")%></span><br/>
        <%= f.fields_for :addresses do |address| %>
          <%= address.text_field :address1 %>
          <%= address.text_field :address2 %>
          <%= address.text_field :typ %>
        <% end %>
        </p><%= f.submit %>
        <p/>
      <% end %>
    </div>
    <div id=x_right_col style="text-align: center;">
      <p/><%= link_to "add new photo", new_member_photo_path(@member) %><p/>
      <div id=sortable>
        <% @member.photos.each do |pic| %>
          <li id=photos_<%= pic.id %>>
            <span class=handle>[drag]</span>
            <%= image_tag pic.image.url(:thumb) %>
            <%= link_to 'remove', member_photo_path(@member, pic), :confirm => 'Are you sure?',:method => :delete %>
          </li>
        <% end %>
      </div>
    </div>

    <div id=x_footer>

    </div>
  </div>
</div>
