<%= javascript_include_tag "checkbox2.js" %>
<%= javascript_include_tag "equal_height.js" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      Team Roster / Paging
    </div>
    <div id=x_left_col>
      <table>
        <tr>
          <td></td>
          <td><img src="/images/page.gif" border=0></td>
          <td><img src="/images/mail.gif" border=0></td>
          <td></td>
        </tr>
        <% @members.each do |m| %>
        <tr>
          <td class=role><%= m.typ %></td>
          <td class=checkbox><input class="<%= m.typ %>" type="checkbox"></td>
          <td class=checkbox><input class="<%= m.typ %>" type="checkbox"></td>
          <td class=link><a href="/members/<%= m.id %>"><%= m.user_name %></a></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div id=x_right_col>
      Select by member type:<br/>
      <input type="checkbox" class="slx" id=cb_BD> Board of Directors (BD)<br/>
      <input type="checkbox" class="slx" id=cb_OL> Operations Leader (OL)<br/>
      <input type="checkbox" class="slx" id=cb_TM> Technical Member (TM)<br/>
      <input type="checkbox" class="slx" id=cb_FM> Field Member (FM)<br/>
      <input type="checkbox" class="slx" id=cb_T > Trainee (T)<br/>
      <input type="checkbox" class="slx" id=cb_R > Reserve (R)<br/>
      <input type="checkbox" class="slx" id=cb_S > Support (S)<br/>
      <input type="checkbox" class="slx" id=cb_A > Associate (A)<br/>

      <div style="margin-top:25px; margin-bottom:25px;">
        From:
        <select name="from_email">
          <option value="andy@r210.com">andy@r210.com</option>
        </select>
        <textarea id="messagearea" name="message" rows="10" cols="40" onKeyDown="lengthLimit(document.getElementById('messagearea'),document.getElementById('charsremaining'),132);" onKeyUp="lengthLimit(this.form.message,this.form.charsRemaining,132);"></textarea>
        <br> You have <div id="charsremaining" style="display:inline;">132</div> characters left.<br><br>
        <input type="submit" name="message_submit" value="Send message">
      </div>

      <%= render :partial => 'smso' %>

    </div>
    <div id=x_footer>
      footer content here
    </div>
  </div>
</div>

