<%= javascript_include_tag "jquery.tablesorter2.js"       %>
<%= javascript_include_tag "jquery.tablesorter_filter.js" %>
<%= javascript_include_tag "equal_height.js"              %>
<%= javascript_include_tag "members.js"                   %>
<%= javascript_include_tag "members_table.js"             %>
<%= javascript_include_tag "members_textbox.js"           %>
<%= javascript_include_tag "members_checkbox.js"          %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>Unit Roster / Paging</b></td>
          <td align=right>
            <%= link_to("Edit My Contact Info", edit_member_path(current_member)) %>
          </td>
        </tr>
      </table>
    </div>
    <%= form_for @message do |f| %>
      <input type="hidden" name="message[author_id]" value="<%=current_member.id%>"/>
      <input type="hidden" name="message[ip_address]" value="<%=@client_ip%>"/>
      <div id=x_left_col>
        <table align=center><tr align=center>
          <td>
            Search: <input name="filter" id="filter-box" value="" maxlength="22" size="22" type="text">
            <input id="filter-clear-button" type="button" value="Clear"/>
          </td>
        </tr></table>
        <% cache('member_index_table') do %> 
          <table id="myTable" class="tablesorter" style="margin-top: 0px;">
            <thead>
            <tr>
              <th>Role</th>
              <th><img src="/images/page.gif" border=0></th>
              <th><img src="/images/mail.gif" border=0></th>
              <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <% @members.each do |m| %>
              <tr>
                <td><%= m.full_roles %></td>
                <%= raw phone_checkbox(m) %>
                <%= raw email_checkbox(m) %>
                <td class=link><a href="/members/<%= m.id %>"><%= m.full_name %></a></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div id=x_right_col>
        <table width=100%><tr>
          <td><span style='font-size: 14px;'><b>Select by member type:</b></span></td>
          <td align=right><input type=button value="Clear All" id="clear_all"></td>
        </tr></table>
        <input type="checkbox" class="slx" id=cb_Bd> Board of Directors (Bd)<br/>
        <input type="checkbox" class="slx" id=cb_OL> Operations Leader (OL)<br/>
        <input type="checkbox" class="slx" id=cb_TM> <span style="margin-left:10px;">Technical Member (TM)</span><br/>
        <input type="checkbox" class="slx" id=cb_FM> <span style="margin-left:10px;">Field Member (FM)    </span><br/>
        <input type="checkbox" class="slx" id=cb_T > <span style="margin-left:10px;">Trainee (T)          </span><br/>
        <input type="checkbox" class="slx" id=cb_R > <span style="margin-left:10px;">Reserve (R)          </span><br/>
        <input type="checkbox" class="slx" id=cb_S > <span style="margin-left:10px;">Support (S)          </span><br/>
        <input type="checkbox" class="slx" id=cb_A > <span style="margin-left:10px;">Associate (A)        </span><br/>

        <div style="padding: 4px; margin-top:15px; margin-bottom:15px; background-color:lightblue;">
          <table width=100%><tr>
            <td><b>To:</b> <span id="addr_count">0 addresses</span></td>
            <td align=right><b>From:</b> <%= current_member.short_name %></td>
          </tr></table>
          <textarea id="message_area" name="message[text]" rows="10" style="width: 290px;"></textarea>
          <div style="font-size:10px; margin-bottom: 2px;">You have <span id="chars_remaining">132</span> characters left.
            <input style='margin-left: 90px; width: 60px;' type="submit" value="Send"/></div>
        </div>
        <div style="font-size: 10px;">
          <i>
            PLEASE NOTE: Message content, IP addresses, and message recipients are logged for each message sent on this system.
            <p/>
            Last message sent on <%= Message.last.created_at unless Message.last.blank? %><br/>
            <a href="/messages">View message log</a>
          </i>
        </div>
        <p/>

        <%= render :partial => 'smso' %>

      </div>
      </form>
    <% end %>
    <div id=x_footer>
      <% if can? :manage, @member %>
        <%= link_to "Add New Member", new_member_path %>
      <% end %>
    </div>
  </div>
</div>
