<%= javascript_include_tag "jquery.tablesorter.min.js" %>
<%= javascript_include_tag "equal_height.js" %>
<%= javascript_include_tag "members.js" %>
<%= javascript_include_tag "members_table.js" %>
<%= javascript_include_tag "members_textbox.js" %>
<%= javascript_include_tag "members_checkbox.js" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      Team Roster / Paging
    </div>
    <div id=x_left_col>
      <table id="myTable" class="tablesorter" style="margin-top: 0px;">
        <thead>
        <tr>
          <th>Role</th>
          <th><img src="/images/page.gif" border=0></th>
          <th><img src="/images/mail.gif" border=0></th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <% @members.each do |m| %>
        <tr>
          <td><%= m.full_roles %></td>
          <%= raw phone_checkbox(m) %>
          <%= raw email_checkbox(m) %>
          <td class=link><a href="/members/<%= m.id %>"><%= m.full_name %></a></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div id=x_right_col>
      <b>Select by member type:</b>
      <span style="margin-left: 70px;">
        <input type=submit value="Clear All" id="clear_all">
      </span><br/>
      <input type="checkbox" class="slx" id=cb_Bd> Board of Directors (Bd)<br/>
      <input type="checkbox" class="slx" id=cb_OL> Operations Leader (OL)<br/>
      <input type="checkbox" class="slx" id=cb_TM> Technical Member (TM)<br/>
      <input type="checkbox" class="slx" id=cb_FM> Field Member (FM)<br/>
      <input type="checkbox" class="slx" id=cb_T > Trainee (T)<br/>
      <input type="checkbox" class="slx" id=cb_R > Reserve (R)<br/>
      <input type="checkbox" class="slx" id=cb_S > Support (S)<br/>
      <input type="checkbox" class="slx" id=cb_A > Associate (A)<br/>

      <div style="padding: 2px; margin-top:15px; margin-bottom:15px; background-color:lightblue;">
        <table>
          <tr><td align=right><b>To:</b></td><td><span id="addr_count">0 addresses</span></td></tr>
          <tr><td align=right><b>From:</b></td><td><%= current_member.full_name %></td></tr>
        </table>
        <textarea id="message_area" name="message" rows="10" style="width: 290px;">
        </textarea>
        <br/><span style="font-size: 10px; margin-right: 50px;">
          You have <span id="chars_remaining">132</span> characters left.
        </span>
        <input type="submit" name="message_submit" value="Send message">
      </div>

      <%= render :partial => 'smso' %>

    </div>
    <div id=x_footer>
      footer content here
    </div>
  </div>
</div>

