<%= javascript_include_tag "members/all_mem_indx"                       %>
<%= javascript_tag "var PREVIEW_OPTS = #{generate_preview_options};"    %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%>
        <tr>
          <td align=left><b>Unit Roster / Paging</b></td>
          <td align=right>
            <%= link_to("Edit My Contact Info", edit_member_path(current_member)) %>
          </td>
        </tr>
      </table>
    </div>
    <%= form_for @message, :html => {:id => "pageform"} do |f| %>
      <input type="hidden" name="message[author_id]" value="<%=current_member.id%>"/>
      <input type="hidden" name="message[ip_address]" value="<%=@client_ip%>"/>
      <div id=x_left_col>
        <table align=center><tr align=center>
          <td>
            Search: <input name="filter" id="filter-box" value="" maxlength="22" size="22" type="text">
            <input id="filter-clear-button" type="button" value="Clear"/>
          </td>
        </tr></table>
        <% cache("member_index_table-#{@fragment_type}") do %>

          <%= render :partial => 'member_table' %>

        <% end %>
      </div>
      <div id=x_right_col>
        <table width=100%>
          <tr>
            <td>
              <span style='font-size: 14px;'><b>Select Members</b></span><br/>
              <input type="checkbox" class="slx" id=cb_Bd> Board of Directors (Bd)<br/>
              <input type="checkbox" class="slx" id=cb_OL> Operations Leader (OL)<br/>
              <input type="checkbox" class="slx" id=cb_TM> <span style="margin-left:10px;">Technical Member (TM)</span><br/>
              <input type="checkbox" class="slx" id=cb_FM> <span style="margin-left:10px;">Field Member (FM)    </span><br/>
              <input type="checkbox" class="slx" id=cb_T > <span style="margin-left:10px;">Trainee (T)          </span><br/>
              <input type="checkbox" class="slx" id=cb_R > <span style="margin-left:10px;">Reserve (R)          </span><br/>
              <input type="checkbox" class="slx" id=cb_S > <span style="margin-left:10px;">Support (S)          </span><br/>
              <input type="checkbox" class="slx" id=cb_A > <span style="margin-left:10px;">Associate (A)        </span><br/>
            </td>
            <td align=right valign=top>
              <br/>
              <a href="#" id="clear_all" class="xbutton xgray">Clear All</a>
              <p></p>
              <a href="#" id="clear_sms" class="xbutton xgray">Clear SMS <img src="/images/page.gif" border=0></a>
              <p></p>
              <a href="#" id="clear_mail" class="xbutton xgray">Clear eMail <img src="/images/mail.gif" border=0></a>
              <p></p>
              <a href="#" id="clear_oot" class="xbutton xpink">Clear Unavail</a>
            </td>
          </tr>
        </table>

        <%= render :partial => 'page_form' %>

        <div style="font-size: 10px;">
          <i>
            Last message sent <%= Message.last.created_at.strftime("%m-%d %H:%M") unless Message.last.blank? %>
            <div style='float: right; text-align: right;'><a href="/messages">Unit Message Log</a></div>
          </i>
        </div>
        <p/>

        <%= render :partial => 'smso' %>

      </div>
      </form>
    <% end %>
    <div id=x_footer style="font-size: 10pt;">
      <table width=100% style="font-size: 10pt;">
        <tr>
          <td width=33%>
            <a href="#" id=clearsort>Clear Sort Settings</a>
          </td>
          <td width=33%>
            <input type="checkbox" id=rsa_check> Show R, S, A Members
          </td>
            <td width=33%>
              <%= link_to "Edit RSVP Templates", '/rsvp_templates' %>
            </td>
        </tr>
      </table>

      <% if can? :manage, @member %>
        <table width=100% style="font-size: 10pt;">
          <tr>
            <td width=100%>
              <%= link_to "Add New Member", new_member_path %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
