<script>
  var autoselectMemberNames = [ <%= @autoselect_member_names %> ];
</script>

<%= javascript_include_tag "equal_height.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<%= javascript_include_tag "members_autoselect.js" %>
<%= csrf_meta_tag %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%><tr>
        <td align=left width=33%>Member Detail: <b><%= @member.full_name %></b></td>
        <% if can? :manage, @member %>
        <td align=center width=33%>
          <%= link_to("Edit", edit_member_path(@member)) %>
          <% if current_member != @member %>
            | <%= link_to("Delete", member_path(@member), :confirm => "Are you sure?", :method => :delete) %> <% end %>
        </td>
        <% end %>
        <td align=right width=33%>
            <%= link_to('<', member_path(@member.prev_member_id)) %>
            <input size=14 id="autoselect" value="find member...">
            <%= link_to('>', member_path(@member.next_member_id)) %>
        </td>
      </tr></table>
    </div>
    <div id=mem_left_col>
      <b><%= @member.first_name %> <%= @member.last_name %><br/></b>
      <%= @member.full_roles %><p></p>
      <%= raw @member.all_assoc %><p></p>
      <% unless @member.ham.blank? %>
        <b>Ham:</b> <%= @member.ham %><br/>
      <% end %>
      <% unless @member.v9.blank? %>
        <b>V9:</b> <%= @member.v9 %><p/>
      <% end %>
    </div>
    <div id=mem_right_col style="text-align: center;">
      <% unless @member.photos.length > 0 %><br/><p></p><b>Photos:</b><br/>TBD<% end %>
      <% @member.photos.each do |pic| %>
        <a href='<%= pic.image.url %>' target='_blank'>
          <%= image_tag pic.image.url(:thumb) %>
        </a><br/>
      <% end %>
    </div>
    <div id=x_footer>
      
    </div>
  </div>
</div>
