<%= javascript_include_tag "equal_height.js" %>

<div id=x_container>
  <div id=x_body>
    <div id=x_header>
      <table width=100%><tr>
        <td align=left width=33%>Member Detail</td>
        <td align=center width=33%><%= link_to("Roster", members_path) %> | <%= link_to("Edit", edit_member_path(@member)) %> | Delete</td>
        <td align=right width=33%>Pull Down Goes Here</td>
      </tr></table>
    </div>
    <div id=x_left_col>
      <b><%= @member.first_name %> <%= @member.last_name %><br/></b>
      <%= @member.typ %><p/>
      <b>Ham:</b> <%= @member.ham %><br/>
      <b>V9:</b> <%= @member.v9 %><p/>
      <%= raw @member.all_assoc %>
    </div>
    <div id=x_right_col>
      Photos go here...
    </div>
    <div id=x_footer>
      
    </div>
  </div>
</div>
